Repository vednemesicnik/cz.vednemesicnik: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, prisma-format

format:
  run: pnpm biome:format:staged {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome:lint:staged {staged_files}
  stage_fixed: true

prisma-format:
  run: pnpm prisma:format
  stage_fixed: true

fix(administration): skip the boundary title when meta gets a null error
  app/routes/administration/__layout-section/_meta.ts
  app/routes/administration/_index/_meta.ts
Due: format, lint

fix(csrf): keep the refused token and passwords out of the echoed form values
  app/utils/csrf.server.test.ts
  app/utils/csrf.server.ts
Due: format, lint

ci: check that PR titles are Conventional Commit subjects
  .github/workflows/pr-title.yml
  docs/_branching-model.md
Due: format

ci: name the PR's base branch in the title check's failure message
  .github/workflows/pr-title.yml
Due: none

ci: check that PR titles are Conventional Commit subjects (#442)
  .github/workflows/pr-title.yml
  docs/_branching-model.md
Due: format

docs: bring agent instructions in line with the current code
  .agents/rules/self-review-before-pr/RULE.md
  .agents/skills/pull-request-workflow/SKILL.md
  .agents/skills/review-idea/SKILL.md
  AGENTS.md
Due: format

docs: bring agent instructions in line with the current code (#445)
  .agents/rules/self-review-before-pr/RULE.md
  .agents/skills/pull-request-workflow/SKILL.md
  .agents/skills/review-idea/SKILL.md
  AGENTS.md
Due: format

feat(styles): add the 50 and 950 primitive shades of the accent ramps
  app/stories/primitive-tokens.stories.tsx
  app/styles/primitive-tokens.css
Due: format, lint

feat(styles): adopt the design system's semantic role map and dark theme
  app/root.tsx
  app/styles/semantic-tokens.css
Due: format, lint

refactor(styles): drop the admin theme's midnight scale and Storybook theme toolbar
  .storybook/preview.ts
  app/stories/admin-colors.stories.tsx
  app/stories/colors.stories.tsx
  app/stories/primitive-tokens.stories.tsx
  app/styles/primitive-tokens.css
Due: format, lint

docs: describe the single semantic role map
  .agents/skills/general-guidance/references/storybook.md
  AGENTS.md
Due: format

docs(styles): state where the semantic map departs from light-dark()
  app/styles/semantic-tokens.css
Due: format

feat(styles): adopt the design system's semantic role map and dark theme (#446)
  .agents/skills/general-guidance/references/storybook.md
  .storybook/preview.ts
  AGENTS.md
  app/root.tsx
  app/stories/admin-colors.stories.tsx
  app/stories/colors.stories.tsx
  app/stories/primitive-tokens.stories.tsx
  app/styles/primitive-tokens.css
  app/styles/semantic-tokens.css
Due: format, lint

refactor(social-sites): read the social URLs from a shared config
  app/components/social-sites/_component.tsx
  app/config/social-sites-config.ts
Due: format, lint

feat(footer): rework the public footer into four link columns
  app/components/app-footer/_component.tsx
  app/components/app-footer/_styles.module.css
  app/components/app-footer/components/complementary-information/_complementary-information.module.css
  app/components/app-footer/components/complementary-information/_complementary-information.tsx
  app/components/app-footer/components/site-content/_site-content.module.css
  app/components/app-footer/components/site-content/_site-content.tsx
  app/config/footer-links-config.ts
Due: format, lint

feat(footer): rework the public footer into four link columns (#447)
  app/components/app-footer/_component.tsx
  app/components/app-footer/_styles.module.css
  app/components/app-footer/components/complementary-information/_complementary-information.module.css
  app/components/app-footer/components/complementary-information/_complementary-information.tsx
  app/components/app-footer/components/site-content/_site-content.module.css
  app/components/app-footer/components/site-content/_site-content.tsx
  app/components/social-sites/_component.tsx
  app/config/footer-links-config.ts
  app/config/social-sites-config.ts
Due: format, lint

fix(footer): step the link columns 4 → 2 → 1 instead of jumping to one
  app/components/app-footer/components/site-content/_site-content.module.css
Due: format

fix(footer): step the link columns 4 → 2 → 1 instead of jumping to one (#448)
  app/components/app-footer/components/site-content/_site-content.module.css
Due: format

fix(footer): keep Časopis on the left across three rows in the two-column step
  app/components/app-footer/components/site-content/_site-content.module.css
Due: format

fix(footer): flip the column span at the same breakpoints as the grid
  app/components/app-footer/components/site-content/_site-content.module.css
Due: format

fix(footer): keep Časopis on the left across three rows in the two-column step (#451)
  app/components/app-footer/components/site-content/_site-content.module.css
Due: format

feat(seo): add sitemap.xml resource route and robots.txt link
  app/routes.ts
  app/routes/sitemap/_loader.ts
  app/routes/sitemap/route.ts
  app/utils/escape-xml.test.ts
  app/utils/escape-xml.ts
  app/utils/sitemap.server.test.ts
  app/utils/sitemap.server.ts
  public/robots.txt
Due: format, lint

feat(seo): add sitemap.xml resource route and robots.txt link (#454)
  app/routes.ts
  app/routes/sitemap/_loader.ts
  app/routes/sitemap/route.ts
  app/utils/escape-xml.test.ts
  app/utils/escape-xml.ts
  app/utils/sitemap.server.test.ts
  app/utils/sitemap.server.ts
  public/robots.txt
Due: format, lint

chore: link Claude Code skills into .claude on install
  .dockerignore
  AGENTS.md
  package.json
  scripts/link-claude-skills.sh
Due: format

chore: drop prepare hook, link Claude Code skills on demand
  AGENTS.md
  package.json
  scripts/link-claude-skills.sh
Due: format

chore: add a script that links Claude Code skills into .claude (#455)
  .dockerignore
  AGENTS.md
  package.json
  scripts/link-claude-skills.sh
Due: format

feat(header): show the logo mark without the name
  app/components/app-header/_component.tsx
  app/components/app-header/components/home-link/_component.tsx
  app/components/app-header/components/home-link/_styles.module.css
  app/components/vdm-logo/_component.tsx
  app/components/vdm-logo/_styles.module.css
Due: format, lint

feat(header): show the logo mark without the name (#460)
  app/components/app-header/_component.tsx
  app/components/app-header/components/home-link/_component.tsx
  app/components/app-header/components/home-link/_styles.module.css
  app/components/vdm-logo/_component.tsx
  app/components/vdm-logo/_styles.module.css
Due: format, lint

feat(wordmark): add the name with the mirrored měsíčník
  app/components/wordmark/_component.stories.tsx
  app/components/wordmark/_component.tsx
  app/components/wordmark/_styles.module.css
  app/components/wordmark/index.ts
Due: format, lint

feat(content-link): let the title take a heading level
  app/components/content-link-title/_component.tsx
Due: format, lint

fix(content-link): apply the hover colour to the title
  app/components/content-link/_styles.module.css
Due: format

feat(article-hero): make the card a link with an h2 title and a gradient fallback
  app/components/public/article-hero/_component.tsx
  app/components/public/article-hero/_styles.module.css
Due: format, lint

feat(home): turn the homepage into the magazine's front page
  app/components/public/masthead/_component.stories.tsx
  app/components/public/masthead/_component.tsx
  app/components/public/masthead/_styles.module.css
  app/components/public/masthead/index.ts
  app/routes/_index/_loader.ts
  app/routes/_index/_meta.ts
  app/routes/_index/_styles.module.css
  app/routes/_index/route.tsx
Due: format, lint

refactor(wordmark): derive the name width from the letter count
  app/components/wordmark/_component.tsx
  app/components/wordmark/_styles.module.css
Due: format, lint

feat(home): turn the homepage into the magazine's front page (#461)
  app/components/content-link-title/_component.tsx
  app/components/content-link/_styles.module.css
  app/components/public/article-hero/_component.tsx
  app/components/public/article-hero/_styles.module.css
  app/components/public/masthead/_component.stories.tsx
  app/components/public/masthead/_component.tsx
  app/components/public/masthead/_styles.module.css
  app/components/public/masthead/index.ts
  app/components/wordmark/_component.stories.tsx
  app/components/wordmark/_component.tsx
  app/components/wordmark/_styles.module.css
  app/components/wordmark/index.ts
  app/routes/_index/_loader.ts
  app/routes/_index/_meta.ts
  app/routes/_index/_styles.module.css
  app/routes/_index/route.tsx
Due: format, lint

fix(home): restore the previous meta description
  app/routes/_index/_meta.ts
Due: format, lint

fix(home): restore the previous meta description (#463)
  app/routes/_index/_meta.ts
Due: format, lint

refactor(home): build the masthead from HeadlineGroup and drop the wrappers
  app/components/article-hero/_component.tsx
  app/components/article-hero/_styles.module.css
  app/components/article-hero/index.ts
  app/components/public/masthead/_component.stories.tsx
  app/components/public/masthead/_component.tsx
  app/components/public/masthead/_styles.module.css
  app/components/public/masthead/index.ts
  app/components/wordmark/_styles.module.css
  app/routes/_index/_styles.module.css
  app/routes/_index/route.tsx
Due: format, lint

refactor(vdm-wordmark): render a span that goes inside Headline
  app/components/headline/_styles.module.css
  app/components/vdm-wordmark/_component.stories.tsx
  app/components/vdm-wordmark/_component.tsx
  app/components/vdm-wordmark/_styles.module.css
  app/components/vdm-wordmark/index.ts
  app/components/wordmark/index.ts
  app/routes/_index/_styles.module.css
  app/routes/_index/route.tsx
Due: format, lint

Path conditions:
  format: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,md,css}
  lint: any of: *.{js,ts,cjs,mjs,jsx,tsx}
  prisma-format: any of: *.prisma
