Repository vednemesicnik/cz.vednemesicnik: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, prisma-format

lefthook.yaml:

# Lefthook Git hooks configuration
# Refer for explanation to following link:
# https://lefthook.dev/configuration/

pre-push:
  parallel: true
  commands:
    check:
      run: pnpm biome:check:push {push_files}
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,md,css}"
    typecheck:
      run: pnpm app:typecheck
    test:
      run: pnpm test
    prisma-format:
      run: pnpm prisma:format
      glob: "*.prisma"

pre-commit:
  parallel: true
  commands:
    format:
      run: pnpm biome:format:staged {staged_files}
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,md,css}"
      stage_fixed: true
    lint:
      run: pnpm biome:lint:staged {staged_files}
      glob: "*.{js,ts,cjs,mjs,jsx,tsx}"
      stage_fixed: true
    prisma-format:
      run: pnpm prisma:format
      glob: "*.prisma"
      stage_fixed: true

feat: sort articles by publication date and update meta function type
  app/routes/website/articles/_index/_loader.ts
  app/routes/website/articles/_index/_meta.ts
Due: format, lint

feat: refactor loader and meta functions for improved type safety and SEO handling
  app/routes/website/archive/_index/_loader.ts
  app/routes/website/archive/_index/_meta.ts
  app/routes/website/archive/_index/route.tsx
Due: format, lint

feat: add Callout component with styles for enhanced UI presentation
  app/components/callout/_component.tsx
  app/components/callout/_styles.module.css
  app/components/callout/index.ts
Due: format, lint

feat: add Pagination component with styles for improved navigation
  app/components/pagination/_component.tsx
  app/components/pagination/_styles.module.css
  app/components/pagination/index.ts
Due: format, lint

feat: implement pagination for articles and enhance UI with Callout component
  app/routes/website/articles/_index/_loader.ts
  app/routes/website/articles/_index/route.tsx
Due: format, lint

feat: import Callout component in route for enhanced UI integration
  app/routes/website/articles/_index/route.tsx
Due: format, lint

feat: rename Breadcrumbs component to BreadcrumbNavigation and update structure for improved accessibility
  app/components/breadcrumb-navigation/_component.tsx
  app/components/breadcrumb-navigation/_styles.module.css
  app/components/breadcrumb-navigation/components/breadcrumb-link/_component.stories.tsx
  app/components/breadcrumb-navigation/components/breadcrumb-link/_component.tsx
  app/components/breadcrumb-navigation/components/breadcrumb-link/_styles.module.css
  app/components/breadcrumb-navigation/components/breadcrumb-link/index.ts
  app/components/breadcrumb-navigation/index.ts
  app/components/breadcrumbs/index.ts
  app/routes/website/articles/__layout/route.tsx
  app/routes/website/podcasts/__layout/route.tsx
Due: format, lint

feat: refactor pagination parameter handling to use constant for improved maintainability
  app/components/pagination/_component.tsx
  app/components/pagination/index.ts
  app/routes/website/articles/_index/_loader.ts
Due: format, lint

feat: add keyboard arrow icons with accessibility attributes and styles
  app/components/icons/keyboard-arrow-left-icon/_component.tsx
  app/components/icons/keyboard-arrow-left-icon/_styles.module.css
  app/components/icons/keyboard-arrow-left-icon/index.ts
  app/components/icons/keyboard-arrow-right-icon/_component.tsx
  app/components/icons/keyboard-arrow-right-icon/_styles.module.css
  app/components/icons/keyboard-arrow-right-icon/index.ts
  app/components/icons/keyboard-double-arrow-left-icon/_component.tsx
  app/components/icons/keyboard-double-arrow-left-icon/_styles.module.css
  app/components/icons/keyboard-double-arrow-left-icon/index.ts
  app/components/icons/keyboard-double-arrow-right-icon/_component.tsx
  app/components/icons/keyboard-double-arrow-right-icon/_styles.module.css
  app/components/icons/keyboard-double-arrow-right-icon/index.ts
Due: format, lint

feat: enhance pagination component with keyboard navigation icons and improved accessibility
  app/components/pagination/_component.tsx
  app/components/pagination/_styles.module.css
  app/routes/website/articles/_index/_loader.ts
  app/routes/website/articles/_index/route.tsx
Due: format, lint

feat: refactor CSS styles to use layer directives for improved organization and maintainability
  app/components/link/_styles.module.css
  app/components/pagination/_styles.module.css
Due: format

feat: update article state management to handle publishedAt more effectively
  app/routes/administration/articles/article/_index/utils/publish-article.ts
  app/routes/administration/articles/article/_index/utils/restore-article.ts
  app/routes/administration/articles/article/_index/utils/retract-article.ts
Due: format, lint

feat: format CSS font size calculations for improved readability
  app/styles/fonts.css
Due: format

style: use css pow() for heading font size calculations (#63)
  app/styles/fonts.css
Due: format

chore: update Storybook dependencies to version 10.3.1 for improved features and stability
  package.json
  pnpm-lock.yaml
Due: format

chore: update packageManager to pnpm@10.32.1 for improved performance and features
  package.json
Due: format

chore: update dependencies and packageManager for improved performance and stability
  package.json
  pnpm-lock.yaml
Due: format

fix: restore file input accept attributes for image and pdf types
  app/routes/administration/archive/add-issue/route.tsx
  app/routes/administration/archive/issue/edit-issue/route.tsx
  app/routes/administration/podcasts/add-podcast/route.tsx
  app/routes/administration/podcasts/podcast/edit-podcast/route.tsx
  package.json
  pnpm-lock.yaml
Due: format, lint

style: clean up CSS by removing duplicate title styles and improving readability
  app/components/featured-banner/_styles.module.css
  app/utils/create-image-source-route.ts
Due: format, lint

chore: update @mjackson/form-data-parser and related dependencies to latest versions for improved functionality
  package.json
  pnpm-lock.yaml
Due: format

style: update subheadline font size to use medium variable for improved readability
  app/components/subheadline/_styles.module.css
Due: format

style: remove unnecessary min-height calculation for improved layout clarity
  app/components/administration-content/_styles.module.css
Due: format

feat: add image handling functionality to the form for improved user experience
  app/routes/administration/articles/add-article/route.tsx
Due: format, lint

style: update min-height to 100dvh and set height to 100% for better responsiveness
  app/routes/administration/__layout-authenticated/_styles.module.css
Due: format

feat: implement honeypot input handling and context provider for enhanced form security
  app/components/authenticity-token-provider/_component.tsx
  app/components/honeypot-inputs/_component.tsx
  app/components/honeypot-inputs/_styles.module.css
  app/components/honeypot-inputs/index.ts
  app/components/honeypot-provider/_component.tsx
  app/components/honeypot-provider/index.ts
  app/routes/administration/__layout-non-authenticated/_loader.ts
  app/routes/administration/__layout-non-authenticated/route.tsx
  app/routes/administration/sign-in/components/biometric-form/_component.tsx
  app/routes/administration/sign-in/route.tsx
  app/utils/honeypot.server.ts
  package.json
  pnpm-lock.yaml
Due: format, lint

chore: update package dependencies to latest versions for improved stability and features
  package.json
  pnpm-lock.yaml
Due: format

chore: remove Storybook addon and update Vite configuration for improved path resolution
  .storybook/main.ts
  .storybook/vite.config.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vite.config.ts
Due: format, lint

feat: enhance honeypot functionality by updating input handling and props for improved security
  app/components/honeypot-inputs/_component.tsx
  app/routes/administration/__layout-non-authenticated/route.tsx
  app/routes/administration/sign-in/route.tsx
  app/utils/honeypot.server.ts
Due: format, lint

feat: implement pagination for articles in loader and update route component for display
  app/routes/administration/articles/_index/_loader.ts
  app/routes/administration/articles/_index/route.tsx
Due: format, lint

feat: add typography scale component with customizable font sizes and line heights
  app/stories/typography.stories.tsx
Due: format, lint

feat: add preconnect and stylesheet links for Inter font in preview head
  .storybook/preview-head.html
Due: none

chore: remove unused CSS comments for improved code clarity
  app/components/vdm-logo/_styles.module.css
  app/styles/admin-design-tokens.css
  app/styles/colors.css
  app/styles/design-tokens.css
Due: format

feat: add primitive and public semantic design tokens for color management
  app/stories/primitive-tokens.stories.tsx
  app/styles/design-tokens.css
  app/styles/global.css
  app/styles/primitive-tokens.css
  app/styles/public-semantic-tokens.css
Due: format, lint

feat: add layout and z-index design tokens for improved styling management
  app/root.tsx
  app/routes/website/__layout/_styles.css
  app/routes/website/__layout/route.tsx
Due: format, lint

feat: update color variables and transitions for improved styling consistency
  app/components/base-hyperlink/_styles.module.css
  app/components/breadcrumb-navigation/components/breadcrumb-link/_styles.module.css
  app/components/button/_styles.module.css
  app/components/content-link-image/_styles.module.css
  app/components/content-link/_styles.module.css
  app/components/divider/_styles.module.css
  app/components/group-name/_styles.module.css
  app/components/headline/_styles.module.css
  app/components/image-gallery-preview/_styles.module.css
  app/components/link/_styles.module.css
  app/components/list-item/_styles.module.css
  app/components/pagination/_styles.module.css
  app/components/social-sites/_styles.module.css
  app/components/tile/_styles.module.css
Due: format

refactor: rename component and associated styles for improved clarity
  app/components/app-body/_component.tsx
  app/components/app-body/_styles.module.css
  app/components/app-body/index.ts
Due: format, lint

feat: update color variables and background styles for improved design consistency
  app/components/app-footer/_styles.module.css
  app/components/app-footer/components/complementary-information/_complementary-information.module.css
  app/components/app-footer/components/site-content/_site-content.module.css
  app/components/app-header/_styles.module.css
  app/components/app-header/components/navigation-item/_styles.module.css
Due: format

feat: add ArticleHero component with styles for article presentation
  app/components/public/article-hero/_component.tsx
  app/components/public/article-hero/_styles.module.css
  app/components/public/article-hero/index.ts
Due: format, lint

feat: update loader to fetch latest published article and adjust styles for subheadline
  app/components/subheadline/_styles.module.css
  app/routes/website/_index/_loader.ts
  app/routes/website/_index/route.tsx
Due: format, lint
