Repository vednemesicnik/cz.vednemesicnik: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, prisma-format

lefthook.yaml:

# Lefthook Git hooks configuration
# Refer for explanation to following link:
# https://lefthook.dev/configuration/

pre-push:
  parallel: true
  commands:
    check:
      run: pnpm biome:check:push {push_files}
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,md,css}"
    typecheck:
      run: pnpm app:typecheck
    test:
      run: pnpm test
    prisma-format:
      run: pnpm prisma:format
      glob: "*.prisma"

pre-commit:
  parallel: true
  commands:
    format:
      run: pnpm biome:format:staged {staged_files}
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,md,css}"
      stage_fixed: true
    lint:
      run: pnpm biome:lint:staged {staged_files}
      glob: "*.{js,ts,cjs,mjs,jsx,tsx}"
      stage_fixed: true
    prisma-format:
      run: pnpm prisma:format
      glob: "*.prisma"
      stage_fixed: true

fix(base-hyperlink): let long links wrap on narrow screens (#490)
  app/components/app-footer/components/site-content/_site-content.module.css
  app/components/base-hyperlink-icon/_styles.module.css
  app/components/base-hyperlink/_styles.module.css
Due: format

refactor(components): rename files to the component convention
  app/components/load-more-content/_component.tsx
  app/components/load-more-content/_styles.module.css
  app/components/load-more-content/index.ts
  app/components/podcast-description/_component.tsx
  app/components/podcast-description/_styles.module.css
  app/components/podcast-description/index.ts
  app/components/podcast-episode-list-item/_component.tsx
  app/components/podcast-episode-list-item/_styles.module.css
  app/components/podcast-episode-list-item/index.ts
Due: format, lint

refactor(components): rename files to the component convention (#491)
  app/components/load-more-content/_component.tsx
  app/components/load-more-content/_styles.module.css
  app/components/load-more-content/index.ts
  app/components/podcast-description/_component.tsx
  app/components/podcast-description/_styles.module.css
  app/components/podcast-description/index.ts
  app/components/podcast-episode-list-item/_component.tsx
  app/components/podcast-episode-list-item/_styles.module.css
  app/components/podcast-episode-list-item/index.ts
Due: format, lint

fix(content-renderer): render one anchor per link split by inner marks
  app/components/content-renderer/_component.tsx
  app/components/content-renderer/utils/group-link-runs.test.ts
  app/components/content-renderer/utils/group-link-runs.ts
Due: format, lint

test(content-renderer): use priklad.cz in the link fixtures
  app/components/content-renderer/utils/group-link-runs.test.ts
Due: format, lint

refactor(content-renderer): rename the link component to ContentLink
  app/components/content-renderer/_component.tsx
Due: format, lint

fix(base-hyperlink-icon): keep the icon on the line of a long URL
  app/components/base-hyperlink-icon/_styles.module.css
Due: format

feat(article): put the featured image first in a stable gallery order
  app/routes/articles/article/_loader.ts
Due: format, lint

feat(featured-image): crop to 480 px, 220 px below 640 px (design 12a/12b)
  app/components/featured-image/_styles.module.css
Due: format

feat(article): Galerie section with small tiles and one paging dialog (design 12a/12b)
  app/components/image-gallery-dialog/_component.stories.tsx
  app/components/image-gallery-dialog/_component.tsx
  app/components/image-gallery-dialog/_styles.module.css
  app/components/image-gallery-dialog/index.ts
  app/components/image-gallery-preview/_component.tsx
  app/components/image-gallery-preview/_styles.module.css
  app/components/image-gallery/_component.stories.tsx
  app/components/image-gallery/_component.tsx
  app/components/image-gallery/_styles.module.css
  app/routes/articles/article/_styles.module.css
  app/routes/articles/article/route.tsx
Due: format, lint

fix(base-hyperlink-icon): keep the icon on the line of a long URL (#493)
  app/components/base-hyperlink-icon/_styles.module.css
Due: format

fix(image-gallery): reset the gallery per article and clamp the dialog index
  app/components/image-gallery-dialog/_component.tsx
  app/routes/articles/article/route.tsx
Due: format, lint

fix(content-renderer): render one anchor per link split by inner marks (#492)
  app/components/content-renderer/_component.tsx
  app/components/content-renderer/utils/group-link-runs.test.ts
  app/components/content-renderer/utils/group-link-runs.ts
Due: format, lint

feat(article): Galerie section, cropped featured image and one paging dialog (design 12a/12b) (#494)
  app/components/featured-image/_styles.module.css
  app/components/image-gallery-dialog/_component.stories.tsx
  app/components/image-gallery-dialog/_component.tsx
  app/components/image-gallery-dialog/_styles.module.css
  app/components/image-gallery-dialog/index.ts
  app/components/image-gallery-preview/_component.tsx
  app/components/image-gallery-preview/_styles.module.css
  app/components/image-gallery/_component.stories.tsx
  app/components/image-gallery/_component.tsx
  app/components/image-gallery/_styles.module.css
  app/routes/articles/article/_loader.ts
  app/routes/articles/article/_styles.module.css
  app/routes/articles/article/route.tsx
Due: format, lint

feat(seo): let createPageSEO omit an empty description
  app/utils/create-page-seo.test.ts
  app/utils/create-page-seo.ts
  public/images/og/default.jpg
Due: format, lint

feat(seo): createPageSEO with the default share image on every public page
  app/routes/_index/_meta.ts
  app/routes/articles/_index/_meta.ts
  app/routes/articles/categories/_index/_meta.ts
  app/routes/articles/categories/category/_meta.ts
  app/routes/articles/tags/_index/_meta.ts
  app/routes/articles/tags/tag/_meta.ts
  app/routes/editorial-board/_meta.ts
  app/routes/grants/_index/_meta.ts
  app/routes/grants/grant/_meta.ts
  app/routes/links/_meta.ts
  app/routes/organization/_meta.ts
  app/routes/podcasts/_index/_meta.ts
  app/routes/support/_meta.ts
  app/utils/resolve-og-image-url.test.ts
  app/utils/resolve-og-image-url.ts
Due: format, lint

feat(seo): allow crawlers to fetch content images in robots.txt
  public/robots.txt
Due: none

feat(seo): article perex as meta description, og:image and published time
  app/routes/articles/article/_loader.ts
  app/routes/articles/article/_meta.ts
Due: format, lint

feat(seo): og:image from covers on podcast, episode and archive pages
  app/routes/archive/_index/_loader.ts
  app/routes/archive/_index/_meta.ts
  app/routes/podcasts/podcast/_index/_loader.ts
  app/routes/podcasts/podcast/_index/_meta.ts
  app/routes/podcasts/podcast/episode/_loader.ts
  app/routes/podcasts/podcast/episode/_meta.ts
Due: format, lint

feat(seo): use the default share image on podcast and archive pages until covers have one
  app/routes/archive/_index/_loader.ts
  app/routes/archive/_index/_meta.ts
  app/routes/podcasts/podcast/_index/_loader.ts
  app/routes/podcasts/podcast/_index/_meta.ts
  app/routes/podcasts/podcast/episode/_loader.ts
  app/routes/podcasts/podcast/episode/_meta.ts
Due: format, lint

refactor(seo): optional page title, shared site name and og:site_name in createPageSEO
  app/config/site-config.ts
  app/routes/_index/_meta.ts
  app/routes/articles/categories/category/_meta.ts
  app/routes/articles/tags/tag/_meta.ts
  app/utils/create-page-seo.test.ts
  app/utils/create-page-seo.ts
  app/utils/create-page-title.ts
Due: format, lint

refactor(archive): build the canonical URL from location.pathname like the other pages
  app/routes/archive/_index/_meta.ts
Due: format, lint

feat(seo): og:image on public pages, article perex as description, image crawl in robots.txt (#495)
  app/config/site-config.ts
  app/routes/_index/_meta.ts
  app/routes/archive/_index/_meta.ts
  app/routes/articles/_index/_meta.ts
  app/routes/articles/article/_loader.ts
  app/routes/articles/article/_meta.ts
  app/routes/articles/categories/_index/_meta.ts
  app/routes/articles/categories/category/_meta.ts
  app/routes/articles/tags/_index/_meta.ts
  app/routes/articles/tags/tag/_meta.ts
  app/routes/editorial-board/_meta.ts
  app/routes/grants/_index/_meta.ts
  app/routes/grants/grant/_meta.ts
  app/routes/links/_meta.ts
  app/routes/organization/_meta.ts
  app/routes/podcasts/_index/_meta.ts
  app/routes/podcasts/podcast/_index/_meta.ts
  app/routes/podcasts/podcast/episode/_meta.ts
  app/routes/support/_meta.ts
  app/utils/create-page-seo.test.ts
  app/utils/create-page-seo.ts
  app/utils/create-page-title.ts
  app/utils/resolve-og-image-url.test.ts
  app/utils/resolve-og-image-url.ts
  public/images/og/default.jpg
  public/robots.txt
Due: format, lint

feat(seo): Organization and WebSite JSON-LD on the homepage, shared structured-data utilities (#148)
  app/config/site-config.ts
  app/routes/_index/_meta.ts
  app/utils/structured-data/create-organization-structured-data.test.ts
  app/utils/structured-data/create-organization-structured-data.ts
  app/utils/structured-data/create-publisher-reference.test.ts
  app/utils/structured-data/create-publisher-reference.ts
  app/utils/structured-data/create-web-site-structured-data.test.ts
  app/utils/structured-data/create-web-site-structured-data.ts
  public/images/logo.png
Due: format, lint

feat(seo): Organization and WebSite JSON-LD on the homepage, shared structured-data utilities (#148) (#498)
  app/config/site-config.ts
  app/routes/_index/_meta.ts
  app/utils/structured-data/create-organization-structured-data.test.ts
  app/utils/structured-data/create-organization-structured-data.ts
  app/utils/structured-data/create-publisher-reference.test.ts
  app/utils/structured-data/create-publisher-reference.ts
  app/utils/structured-data/create-web-site-structured-data.test.ts
  app/utils/structured-data/create-web-site-structured-data.ts
  public/images/logo.png
Due: format, lint

docs(agents): one-function-per-file and generic-guidance-examples rules
  .agents/rules/generic-guidance-examples/RULE.md
  .agents/rules/one-function-per-file/RULE.md
  .agents/rules/self-review-before-pr/RULE.md
  AGENTS.md
Due: format

docs(agents): one-function-per-file and generic-guidance-examples rules (#499)
  .agents/rules/generic-guidance-examples/RULE.md
  .agents/rules/one-function-per-file/RULE.md
  .agents/rules/self-review-before-pr/RULE.md
  AGENTS.md
Due: format

feat(seo): Article JSON-LD on article detail pages
  app/routes/articles/article/_meta.ts
  app/utils/structured-data/create-article-structured-data.test.ts
  app/utils/structured-data/create-article-structured-data.ts
Due: format, lint

feat(seo): Article JSON-LD on article detail pages (#500)
  app/routes/articles/article/_meta.ts
  app/utils/structured-data/create-article-structured-data.test.ts
  app/utils/structured-data/create-article-structured-data.ts
Due: format, lint

fix(seo): drop the duplicate canonical links on the homepage and /links
  app/routes/_index/_links.ts
  app/routes/_index/route.tsx
  app/routes/links/_links.ts
  app/routes/links/route.tsx
Due: format, lint

fix(seo): drop the duplicate canonical links on the homepage and /links (#504)
  app/routes/_index/_links.ts
  app/routes/_index/route.tsx
  app/routes/links/_links.ts
  app/routes/links/route.tsx
Due: format, lint

feat(articles): Czech plural, letter groups and top-N picks for taxonomy pages
  app/routes/articles/utils/find-categories-with-article-counts.server.ts
  app/routes/articles/utils/find-tags-with-article-counts.server.ts
  app/routes/articles/utils/group-tags-by-letter.test.ts
  app/routes/articles/utils/group-tags-by-letter.ts
  app/routes/articles/utils/pick-top-by-article-count.test.ts
  app/routes/articles/utils/pick-top-by-article-count.ts
  app/utils/format-article-count.test.ts
  app/utils/format-article-count.ts
Due: format, lint

feat(articles): category row, taxonomy indexes and detail pages per design 11
  app/components/empty-state/_component.tsx
  app/components/empty-state/_styles.module.css
  app/components/empty-state/index.ts
  app/components/link-strip/_component.tsx
  app/components/link-strip/_styles.module.css
  app/components/link-strip/index.ts
  app/components/nav-row/_component.tsx
  app/components/nav-row/_styles.module.css
  app/components/nav-row/index.ts
  app/components/pagination/_component.tsx
  app/components/pagination/_styles.module.css
  app/components/taxonomy-page/_component.tsx
  app/components/taxonomy-page/index.ts
  app/routes/administration/articles/_index/route.tsx
  app/routes/articles/_index/_loader.ts
  app/routes/articles/categories/_index/_loader.ts
  app/routes/articles/categories/_index/_styles.module.css
  app/routes/articles/categories/_index/route.tsx
  app/routes/articles/categories/category/_loader.ts
  app/routes/articles/categories/category/route.tsx
  app/routes/articles/tags/_index/_loader.ts
  app/routes/articles/tags/_index/_styles.module.css
  app/routes/articles/tags/_index/route.tsx
  app/routes/articles/tags/tag/route.tsx
Due: format, lint

feat(storybook): stories for NavRow, LinkStrip, EmptyState, TaxonomyPage and Pagination
  app/components/empty-state/_component.stories.tsx
  app/components/link-strip/_component.stories.tsx
  app/components/nav-row/_component.stories.tsx
  app/components/pagination/_component.stories.tsx
  app/components/taxonomy-page/_component.stories.tsx
Due: format, lint

style(pagination): match the design system — no borders, accent steps with ‹ ›
  app/components/pagination/_component.tsx
  app/components/pagination/_styles.module.css
Due: format, lint

refactor(articles): share the Czech name collator and the visibility type
  app/routes/articles/categories/_index/_loader.ts
  app/routes/articles/utils/find-categories-with-article-counts.server.ts
  app/routes/articles/utils/find-tags-with-article-counts.server.ts
  app/routes/articles/utils/group-tags-by-letter.ts
  app/routes/articles/utils/name-collator.ts
  app/routes/articles/utils/pick-top-by-article-count.ts
  app/utils/permissions/author/get-web-content-visibility.server.ts
Due: format, lint

chore(lint): skip the SVG title rule for static files in public/
  biome.json
Due: format

chore(lint): skip the SVG title rule for static files in public/ (#509)
  biome.json
Due: format

refactor(a11y): use the global screen-reader-only class in pagination and the tag index
  app/components/pagination/_component.tsx
  app/components/pagination/_styles.module.css
  app/routes/articles/tags/_index/_styles.module.css
  app/routes/articles/tags/_index/route.tsx
Due: format, lint

feat(articles): category row, taxonomy indexes and detail pages per design 11 (#508)
  app/components/empty-state/_component.stories.tsx
  app/components/empty-state/_component.tsx
  app/components/empty-state/_styles.module.css
  app/components/empty-state/index.ts
  app/components/link-strip/_component.stories.tsx
  app/components/link-strip/_component.tsx
  app/components/link-strip/_styles.module.css
  app/components/link-strip/index.ts
  app/components/nav-row/_component.stories.tsx
  app/components/nav-row/_component.tsx
  app/components/nav-row/_styles.module.css
  app/components/nav-row/index.ts
  app/components/pagination/_component.stories.tsx
  app/components/pagination/_component.tsx
  app/components/pagination/_styles.module.css
  app/components/taxonomy-page/_component.stories.tsx
  app/components/taxonomy-page/_component.tsx
  app/components/taxonomy-page/index.ts
  app/routes/administration/articles/_index/route.tsx
  app/routes/articles/_index/_loader.ts
  app/routes/articles/categories/_index/_loader.ts
  app/routes/articles/categories/_index/_styles.module.css
  app/routes/articles/categories/_index/route.tsx
  app/routes/articles/categories/category/_loader.ts
  app/routes/articles/categories/category/route.tsx
  app/routes/articles/tags/_index/_loader.ts
  app/routes/articles/tags/_index/_styles.module.css
  app/routes/articles/tags/_index/route.tsx
  app/routes/articles/tags/tag/route.tsx
  app/routes/articles/utils/find-categories-with-article-counts.server.ts
  app/routes/articles/utils/find-tags-with-article-counts.server.ts
  app/routes/articles/utils/group-tags-by-letter.test.ts
  app/routes/articles/utils/group-tags-by-letter.ts
  app/routes/articles/utils/name-collator.ts
  app/routes/articles/utils/pick-top-by-article-count.test.ts
  app/routes/articles/utils/pick-top-by-article-count.ts
  app/utils/format-article-count.test.ts
  app/utils/format-article-count.ts
  app/utils/permissions/author/get-web-content-visibility.server.ts
Due: format, lint
