Repository vednemesicnik/cz.vednemesicnik: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, prisma-format

lefthook.yaml:

# Lefthook Git hooks configuration
# Refer for explanation to following link:
# https://lefthook.dev/configuration/

pre-push:
  parallel: true
  commands:
    check:
      run: pnpm biome:check:push {push_files}
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,md,css}"
    typecheck:
      run: pnpm app:typecheck
    test:
      run: pnpm test
    prisma-format:
      run: pnpm prisma:format
      glob: "*.prisma"

pre-commit:
  parallel: true
  commands:
    format:
      run: pnpm biome:format:staged {staged_files}
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,md,css}"
      stage_fixed: true
    lint:
      run: pnpm biome:lint:staged {staged_files}
      glob: "*.{js,ts,cjs,mjs,jsx,tsx}"
      stage_fixed: true
    prisma-format:
      run: pnpm prisma:format
      glob: "*.prisma"
      stage_fixed: true

feat(security): report-only nonce-based Content-Security-Policy (#131)
  app/entry.server.tsx
Due: format, lint

feat(security): report-only nonce-based Content-Security-Policy (#131) (#182)
  app/entry.server.tsx
Due: format, lint

Revert "feat(security): report-only nonce-based Content-Security-Policy (#131) (#182)"
  app/entry.server.tsx
Due: format, lint

Revert "feat(security): report-only nonce-based Content-Security-Policy (#131) (#182)" (#184)
  app/entry.server.tsx
Due: format, lint

feat(security): add authentication audit log (AuthEvent) (#132)
  app/entry.server.tsx
  app/routes/administration/sign-in/google/callback/_loader.ts
  app/routes/administration/sign-in/magic-link/verify/_action.ts
  app/routes/administration/sign-in/passkey/verify-authentication-response/_action.ts
  app/routes/administration/sign-in/password/_action.ts
  app/routes/administration/sign-in/verify-2fa/_action.ts
  app/routes/administration/sign-out/_action.ts
  app/utils/auth-event.server.ts
  app/utils/sign-in.server.ts
  prisma/migrations/20260709213937_add_auth_event/migration.sql
  prisma/schema.prisma
Due: format, lint, prisma-format

fix(security): make sign-out session-owner lookup best-effort (#132)
  app/routes/administration/sign-out/_action.ts
Due: format, lint

fix(security): guard session-less sign-out; log all Google OAuth failures (#132)
  app/routes/administration/sign-in/google/callback/_loader.ts
  app/routes/administration/sign-out/_action.ts
Due: format, lint

fix(security): singleton retention timer; audit passkey verify throws (#132)
  app/entry.server.tsx
  app/routes/administration/sign-in/passkey/verify-authentication-response/_action.ts
Due: format, lint

fix(security): make deleteSession best-effort on sign-out (#132)
  app/routes/administration/sign-out/utils/delete-session.server.ts
Due: format, lint

refactor: move auth-event retention scheduling into auth-event.server (#132)
  app/entry.server.tsx
  app/utils/auth-event.server.ts
Due: format, lint

refactor: import setInterval from node:timers for the retention loop (#132)
  app/utils/auth-event.server.ts
Due: format, lint

fix(security): keep userId on wrong-password failures; require method by event (#132)
  app/routes/administration/sign-in/password/_action.ts
  app/utils/auth-event.server.ts
Due: format, lint

fix(security): reject password sign-in for accounts without a password hash (#132)
  app/routes/administration/sign-in/password/_action.ts
Due: format, lint

feat(security): add authentication audit log (AuthEvent) (#132)
  app/entry.server.tsx
  app/routes/administration/sign-in/google/callback/_loader.ts
  app/routes/administration/sign-in/magic-link/verify/_action.ts
  app/routes/administration/sign-in/passkey/verify-authentication-response/_action.ts
  app/routes/administration/sign-in/password/_action.ts
  app/routes/administration/sign-in/verify-2fa/_action.ts
  app/routes/administration/sign-out/_action.ts
  app/routes/administration/sign-out/utils/delete-session.server.ts
  app/utils/auth-event.server.ts
  app/utils/sign-in.server.ts
  prisma/migrations/20260709213937_add_auth_event/migration.sql
  prisma/schema.prisma
Due: format, lint, prisma-format

docs: add Prisma Studio on production guide
  AGENTS.md
  docs/_prisma-studio-on-production.md
Due: format

docs: make fly proxy port mapping explicit (5555:5555)
  docs/_prisma-studio-on-production.md
Due: format

feat(scripts): add prisma:studio:prod one-command Studio-on-prod wrapper
  docs/_prisma-studio-on-production.md
  package.json
  scripts/prisma-studio-prod.sh
Due: format

fix(scripts): validate PORT, scope remote pkill, portable exit trap; soften WAL claim in doc
  docs/_prisma-studio-on-production.md
  scripts/prisma-studio-prod.sh
Due: format

fix(scripts): bail out if Studio fails to start; correct cleanup comment
  scripts/prisma-studio-prod.sh
Due: none

docs: Prisma Studio on production guide + one-command wrapper (#189)
  AGENTS.md
  docs/_prisma-studio-on-production.md
  package.json
  scripts/prisma-studio-prod.sh
Due: format

docs: editorial board Google Sheet setup guide (#197)
  docs/README.md
  docs/_editorial-board-google-sheet.md
Due: format

docs: clarify not-yet-shipped status + private script repo (#197)
  docs/_editorial-board-google-sheet.md
Due: format

docs: read smoke-test secret from env var, not inline (#197)
  docs/_editorial-board-google-sheet.md
Due: format

docs: call it a shell variable, not env var (#197)
  docs/_editorial-board-google-sheet.md
Due: format

docs: editorial board Google Sheet setup guide (#197) (#200)
  docs/README.md
  docs/_editorial-board-google-sheet.md
Due: format

feat(editorial-board): read /redakce from the Google Sheet via cached GAS fetch
  .env.example
  app/routes/website/editorial-board/_loader.ts
  app/routes/website/editorial-board/route.tsx
  app/utils/editorial-board.server.test.ts
  app/utils/editorial-board.server.ts
  app/utils/env.server.ts
  constants/env.ts
  package.json
  scripts/generate-secret.sh
Due: format, lint

fix(editorial-board): atomic snapshot write + composite section key
  app/routes/website/editorial-board/route.tsx
  app/utils/editorial-board.server.ts
Due: format, lint

test(editorial-board): anonymize fixture data to generic placeholders
  app/utils/editorial-board.server.test.ts
Due: format, lint

feat(editorial-board): /redakce reads from the Google Sheet via cached GAS fetch (#201)
  .env.example
  app/routes/website/editorial-board/_loader.ts
  app/routes/website/editorial-board/route.tsx
  app/utils/editorial-board.server.test.ts
  app/utils/editorial-board.server.ts
  app/utils/env.server.ts
  constants/env.ts
  package.json
  scripts/generate-secret.sh
Due: format, lint

fix(editorial-board): sort members by Czech collation in the app
  app/utils/editorial-board.server.test.ts
  app/utils/editorial-board.server.ts
Due: format, lint

docs(editorial-board): sync sheet guide with the GAS script changes
  docs/_editorial-board-google-sheet.md
Due: format

refactor(editorial-board): hoist the collator compare to module scope
  app/utils/editorial-board.server.ts
Due: format, lint

fix(editorial-board): Czech member collation + sync sheet guide (#202)
  app/utils/editorial-board.server.test.ts
  app/utils/editorial-board.server.ts
  docs/_editorial-board-google-sheet.md
Due: format, lint

refactor(permissions): move review-before-publish rule into publishRequiresReview flag (#192)
  app/routes/administration/archive/issue/_index/_loader.ts
  app/routes/administration/archive/issue/_index/route.tsx
  app/routes/administration/archive/issue/_index/utils/publish-issue.ts
  app/routes/administration/articles/article/_index/_loader.ts
  app/routes/administration/articles/article/_index/route.tsx
  app/routes/administration/articles/article/_index/utils/publish-article.ts
  app/routes/administration/articles/categories/category/_index/_loader.ts
  app/routes/administration/articles/categories/category/_index/route.tsx
  app/routes/administration/articles/categories/category/_index/utils/publish-category.ts
  app/routes/administration/articles/tags/tag/_index/_loader.ts
  app/routes/administration/articles/tags/tag/_index/route.tsx
  app/routes/administration/articles/tags/tag/_index/utils/publish-tag.ts
  app/routes/administration/podcasts/podcast/_index/_loader.ts
  app/routes/administration/podcasts/podcast/_index/route.tsx
  app/routes/administration/podcasts/podcast/_index/utils/publish-podcast.ts
  app/routes/administration/podcasts/podcast/episodes/episode/_index/_loader.ts
  app/routes/administration/podcasts/podcast/episodes/episode/_index/route.tsx
  app/routes/administration/podcasts/podcast/episodes/episode/_index/utils/publish-episode.ts
  app/routes/administration/podcasts/podcast/episodes/episode/links/link/_index/_loader.ts
  app/routes/administration/podcasts/podcast/episodes/episode/links/link/_index/route.tsx
  app/routes/administration/podcasts/podcast/episodes/episode/links/link/_index/utils/publish-link.ts
  app/utils/permissions/author/review-policy.test.ts
  app/utils/permissions/author/review-policy.ts
  docs/_author-roles-and-permissions.md
  docs/_content-creation-lifecycle.md
  prisma/data/author-roles.ts
  prisma/migrations/20260711210205_author_role_publish_requires_review/migration.sql
  prisma/schema.prisma
  prisma/utils/create-author-roles.ts
Due: format, lint, prisma-format

fix(podcast-episode-link): compare hasReviewed by reviewer id, not name
  app/routes/administration/podcasts/podcast/episodes/episode/links/link/_index/_loader.ts
Due: format, lint

docs: clarify level is display-only and the every-author review-gate nuance
  docs/_author-roles-and-permissions.md
  docs/_content-creation-lifecycle.md
Due: format
