Repository vednemesicnik/cz.vednemesicnik: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, prisma-format

format:
  run: pnpm biome:format:staged {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome:lint:staged {staged_files}
  stage_fixed: true

prisma-format:
  run: pnpm prisma:format
  stage_fixed: true

chore: bump Prisma 7.8.0, Vite 8.1.2, tsx, dotenv
  package.json
  pnpm-lock.yaml
Due: format

chore: bump sharp to 0.35.3
  package.json
  pnpm-lock.yaml
Due: format

chore: bump image-stack deps (sharp, Prisma, Vite, tsx, dotenv) (#85)
  package.json
  pnpm-lock.yaml
Due: format

feat: add Tigris (S3) image store backend behind an env-driven switch
  .env.example
  app/utils/env.server.ts
  app/utils/image-store/create-tigris-image-store.test.ts
  app/utils/image-store/create-tigris-image-store.ts
  app/utils/image-store/image-store.server.ts
  constants/env.ts
  docs/_deploy-to-fly.md
  docs/_manual-database-backup.md
  docs/_manual-database-restore.md
  fly.toml
  package.json
  pnpm-lock.yaml
  scripts/migrate-image-store-to-tigris.ts
Due: format, lint

fix: convert Tigris getStream body to a web stream
  app/utils/image-store/create-tigris-image-store.test.ts
  app/utils/image-store/create-tigris-image-store.ts
Due: format, lint

docs: make [env] the primary way to switch the image store driver
  docs/_deploy-to-fly.md
  fly.toml
Due: format

fix: throw on partial DeleteObjects failures in Tigris store
  app/utils/image-store/create-tigris-image-store.test.ts
  app/utils/image-store/create-tigris-image-store.ts
Due: format, lint

fix: make IMAGE_STORE_DRIVER env optional instead of defaulted
  app/utils/env.server.ts
Due: format, lint

docs: set Cache-Control on aws s3 sync migration to match put()
  docs/_deploy-to-fly.md
  scripts/migrate-image-store-to-tigris.ts
Due: format, lint

refactor: drop unused object-level Cache-Control from Tigris store
  app/utils/image-store/create-tigris-image-store.test.ts
  app/utils/image-store/create-tigris-image-store.ts
  docs/_deploy-to-fly.md
  scripts/migrate-image-store-to-tigris.ts
Due: format, lint

fix: treat empty key as whole-store prefix in Tigris delete/exists
  app/utils/image-store/create-tigris-image-store.test.ts
  app/utils/image-store/create-tigris-image-store.ts
  scripts/migrate-image-store-to-tigris.ts
Due: format, lint

docs+script: separate DB backups bucket; skip non-variant files on migrate
  docs/_manual-database-backup.md
  scripts/migrate-image-store-to-tigris.ts
Due: format, lint

refactor: stream Tigris prefix deletes; loosen env; safer backup pull docs
  app/utils/env.server.ts
  app/utils/image-store/create-tigris-image-store.ts
  docs/_manual-database-backup.md
Due: format, lint

refactor: require IMAGE_STORE_PATH in migration script, drop fragile fallback
  scripts/migrate-image-store-to-tigris.ts
Due: format, lint

chore: bundle Tigris image-store migration for in-container runs
  docs/_deploy-to-fly.md
  package.json
  scripts/migrate-image-store-to-tigris.ts
  vite.migrate.config.ts
Due: format, lint

feat: namespace Tigris image keys under an images/ prefix
  app/utils/image-store/create-tigris-image-store.test.ts
  app/utils/image-store/create-tigris-image-store.ts
  app/utils/image-store/image-store.server.ts
  docs/_deploy-to-fly.md
  scripts/migrate-image-store-to-tigris.ts
Due: format, lint

feat: serve images from Tigris object storage
  fly.toml
Due: none

docs: DB backups can share the bucket under db/ now that images are namespaced
  docs/_manual-database-backup.md
Due: format

chore: drop no-op resolve.tsconfigPaths from migrate vite config
  vite.migrate.config.ts
Due: format, lint

feat: add Tigris object-storage backend for images (#86)
  .env.example
  app/utils/env.server.ts
  app/utils/image-store/create-tigris-image-store.test.ts
  app/utils/image-store/create-tigris-image-store.ts
  app/utils/image-store/image-store.server.ts
  constants/env.ts
  docs/_deploy-to-fly.md
  docs/_manual-database-backup.md
  docs/_manual-database-restore.md
  fly.toml
  package.json
  pnpm-lock.yaml
  scripts/migrate-image-store-to-tigris.ts
  vite.migrate.config.ts
Due: format, lint

chore: remove one-time Tigris image-migration tooling after cutover
  docs/_deploy-to-fly.md
  package.json
  scripts/migrate-image-store-to-tigris.ts
  vite.migrate.config.ts
Due: format, lint

chore: remove one-time Tigris image-migration tooling after cutover (#89)
  docs/_deploy-to-fly.md
  package.json
  scripts/migrate-image-store-to-tigris.ts
  vite.migrate.config.ts
Due: format, lint

fix: delete stored image variants when a parent entity is deleted (#90)
  app/routes/administration/archive/issue/_index/utils/delete-issue.ts
  app/routes/administration/articles/article/_index/utils/delete-article.ts
  app/routes/administration/podcasts/podcast/_index/utils/delete-podcast.ts
  app/routes/administration/podcasts/podcast/episodes/episode/_index/utils/delete-episode.ts
  app/utils/image-store/store-image.server.test.ts
  app/utils/image-store/store-image.server.ts
Due: format, lint

refactor: batch image-store cleanup into a single delete call
  app/utils/image-store/store-image.server.test.ts
  app/utils/image-store/store-image.server.ts
Due: format, lint

docs: fix stale comment in image-store cleanup test
  app/utils/image-store/store-image.server.test.ts
Due: format, lint

docs: clarify deleteRowWithImages commit guarantee
  app/utils/image-store/store-image.server.ts
Due: format, lint

docs: align test comment with resolve-not-commit guarantee
  app/utils/image-store/store-image.server.test.ts
Due: format, lint

fix: delete stored image variants when a parent entity is deleted (#91)
  app/routes/administration/archive/issue/_index/utils/delete-issue.ts
  app/routes/administration/articles/article/_index/utils/delete-article.ts
  app/routes/administration/podcasts/podcast/_index/utils/delete-podcast.ts
  app/routes/administration/podcasts/podcast/episodes/episode/_index/utils/delete-episode.ts
  app/utils/image-store/store-image.server.test.ts
  app/utils/image-store/store-image.server.ts
Due: format, lint

fix: make env.js ETag drive revalidation instead of immutable caching (#87)
  app/routes/resources/env-script/_loader.ts
Due: format, lint

fix: make env.js ETag drive revalidation instead of immutable caching (#87) (#92)
  app/routes/resources/env-script/_loader.ts
Due: format, lint

chore(deps-dev): bump vite from 8.1.2 to 8.1.3
  package.json
  pnpm-lock.yaml
Due: format

chore(deps): align @react-router/* to 7.15.1
  package.json
  pnpm-lock.yaml
Due: format

feat(deps): upgrade React Router to v8.1.0
  app/entry.server.tsx
  app/routes/administration/podcasts/podcast/episodes/episode/_index/_meta.ts
  app/routes/administration/podcasts/podcast/episodes/episode/links/link/_index/_meta.ts
  package.json
  pnpm-lock.yaml
Due: format, lint

chore(deps): bump @conform-to/react and @conform-to/zod to 1.19.4
  package.json
  pnpm-lock.yaml
Due: format

chore: bump pnpm to 11.9.0
  package.json
  pnpm-workspace.yaml
Due: format

Path conditions:
  format: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,md,css}
  lint: any of: *.{js,ts,cjs,mjs,jsx,tsx}
  prisma-format: any of: *.prisma
