Repository vednemesicnik/cz.vednemesicnik: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, prisma-format

lefthook.yaml:

# Lefthook Git hooks configuration
# Refer for explanation to following link:
# https://lefthook.dev/configuration/

pre-push:
  parallel: true
  commands:
    check:
      run: pnpm biome:check:push {push_files}
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,md,css}"
    typecheck:
      run: pnpm app:typecheck
    test:
      run: pnpm test
    prisma-format:
      run: pnpm prisma:format
      glob: "*.prisma"

pre-commit:
  parallel: true
  commands:
    format:
      run: pnpm biome:format:staged {staged_files}
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,md,css}"
      stage_fixed: true
    lint:
      run: pnpm biome:lint:staged {staged_files}
      glob: "*.{js,ts,cjs,mjs,jsx,tsx}"
      stage_fixed: true
    prisma-format:
      run: pnpm prisma:format
      glob: "*.prisma"
      stage_fixed: true

chore(deps): update non-breaking dependencies (#156)
  .storybook/preview-head.html
  app/components/honeypot-inputs/_component.tsx
  biome.json
  package.json
  pnpm-lock.yaml
  public/favicon.svg
Due: format, lint

chore(deps): upgrade cssnano 7 → 8 and @types/node 25 → 26 (#158)
  package.json
  pnpm-lock.yaml
Due: format

chore: raise engines.node floor to >=24.18.0 to match cssnano 8
  package.json
Due: format

docs: align AGENTS.md Node requirement with engines.node (>=24.18.0)
  AGENTS.md
Due: format

chore(deps): upgrade cssnano 7 → 8 and @types/node 25 → 26 (#158) (#159)
  AGENTS.md
  package.json
  pnpm-lock.yaml
Due: format

chore(deps): upgrade TypeScript 6 → 7 (native Go compiler) (#157)
  package.json
  pnpm-lock.yaml
Due: format

chore(deps): upgrade TypeScript 6 → 7 (native Go compiler) (#157) (#161)
  package.json
  pnpm-lock.yaml
Due: format

chore(deps): upgrade Node runtime to LTS 26 (#160)
  .nvmrc
  AGENTS.md
  docker/fly/Dockerfile
  docker/local/Dockerfile
  docs/_deploy-to-fly.md
  package.json
  pnpm-lock.yaml
  scripts/object-store-cli.ts
Due: format, lint

docs: update object-store wrapper comment to Node 26
  scripts/object-store.sh
Due: none

fix(docker): cache pinned pnpm offline in image via corepack install
  docker/fly/Dockerfile
  docker/local/Dockerfile
Due: none

refactor(docker): install pinned pnpm directly, drop Corepack
  docker/fly/Dockerfile
  docker/local/Dockerfile
Due: none

build(deps): pin better-sqlite3 via override, drop unrelated bumps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

docs(docker): fix misleading pnpm comment
  docker/fly/Dockerfile
  docker/local/Dockerfile
Due: none

chore(deps): upgrade Node runtime to LTS 26 (#160) (#162)
  .nvmrc
  AGENTS.md
  docker/fly/Dockerfile
  docker/local/Dockerfile
  docs/_deploy-to-fly.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/object-store-cli.ts
  scripts/object-store.sh
Due: format, lint

ci: add persistent dev branch model with automated back-merge
  .github/workflows/sync-dev.yml
  AGENTS.md
  docs/_branching-model.md
Due: format

ci: guard sync-dev against missing dev branch and concurrent runs
  .github/workflows/sync-dev.yml
Due: none

ci: fetch dev explicitly in sync-dev workflow
  .github/workflows/sync-dev.yml
Due: none

ci: warn instead of failing when BACKMERGE_TOKEN is missing
  .github/workflows/sync-dev.yml
Due: none

ci: clarify BACKMERGE_TOKEN guard scope in comment
  .github/workflows/sync-dev.yml
Due: none

ci: persistent dev branch model with automated back-merge (#163)
  .github/workflows/sync-dev.yml
  AGENTS.md
  docs/_branching-model.md
Due: format

ci: add core PR checks workflow (lint, typecheck, test, build)
  .github/workflows/ci.yml
Due: none

ci: add core PR checks workflow (lint, typecheck, test, build) (#164)
  .github/workflows/ci.yml
Due: none

ci: auto-deploy to Fly on merge to main, CI-gated
  .github/workflows/deploy.yml
  .github/workflows/fly-deploy.yml.example
  docs/_deploy-to-fly.md
Due: format

ci: auto-deploy to Fly on merge to main, CI-gated (#165)
  .github/workflows/deploy.yml
  .github/workflows/fly-deploy.yml.example
  docs/_deploy-to-fly.md
Due: format

ci: bump pnpm/action-setup to v6; document back-merge auto-delete pitfall
  .github/workflows/ci.yml
  docs/_branching-model.md
Due: format

docs: protect main/dev via deletion ruleset, keep auto-delete for features
  docs/_branching-model.md
Due: format

ci: bump pnpm/action-setup to v6; document back-merge auto-delete pitfall (#168)
  .github/workflows/ci.yml
  docs/_branching-model.md
Due: format

ci: post-deploy smoke test against production /health (#142)
  .github/workflows/deploy.yml
Due: none

ci: post-deploy smoke test against production /health (#142) (#169)
  .github/workflows/deploy.yml
Due: none

ci: Docker build check for the Fly image (path-filtered) (#139)
  .github/workflows/ci.yml
Due: none

ci: grant docker-build job pull-requests:read for paths-filter
  .github/workflows/ci.yml
Due: none

ci: Docker build check for the Fly image (path-filtered) (#139) (#170)
  .github/workflows/ci.yml
Due: none

ci: Storybook build check (#140)
  .github/workflows/ci.yml
Due: none

ci: Storybook build check (#140) (#171)
  .github/workflows/ci.yml
Due: none

ci: add Dependabot for npm (grouped) and GitHub Actions
  .github/dependabot.yml
Due: none

ci: add Dependabot for npm (grouped) and GitHub Actions (#172)
  .github/dependabot.yml
Due: none

fix(ci): grant checks job pull-requests:read for reusable ci.yml
  .github/workflows/deploy.yml
Due: none

fix(ci): grant checks job pull-requests:read for reusable ci.yml (#176)
  .github/workflows/deploy.yml
Due: none

fix(ci): smoke-test the Fly origin, not the Cloudflare-fronted domain
  .github/workflows/deploy.yml
Due: none

fix(ci): smoke-test the Fly origin, not the Cloudflare-fronted domain (#179)
  .github/workflows/deploy.yml
Due: none
