Repository vednemesicnik/cz.vednemesicnik: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, prisma-format

format:
  run: pnpm biome:format:staged {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome:lint:staged {staged_files}
  stage_fixed: true

prisma-format:
  run: pnpm prisma:format
  stage_fixed: true

docs: add opt-in release PR template (dev → main)
  .github/PULL_REQUEST_TEMPLATE/release.md
  docs/_branching-model.md
Due: format

docs: document release PR title convention alongside template
  docs/_branching-model.md
Due: format

docs: add release-PR agent guidance to general-guidance skill
  .agents/skills/general-guidance/SKILL.md
  .agents/skills/general-guidance/references/release-pr.md
  AGENTS.md
Due: format

docs: use a fenced code block for the release gh command
  docs/_branching-model.md
Due: format

docs: add opt-in release PR template (dev → main) (#280)
  .agents/skills/general-guidance/SKILL.md
  .agents/skills/general-guidance/references/release-pr.md
  .github/PULL_REQUEST_TEMPLATE/release.md
  AGENTS.md
  docs/_branching-model.md
Due: format

feat: stream fresh editorial-board GAS data from the loader (#281)
  app/entry.server.tsx
  app/routes/editorial-board/_loader.ts
  app/routes/editorial-board/route.tsx
  app/utils/editorial-board.server.test.ts
  app/utils/editorial-board.server.ts
Due: format, lint

test: assert a refresh is streamed before awaiting it on failed-refresh cases (#281)
  app/utils/editorial-board.server.test.ts
Due: format, lint

feat: stream fresh editorial-board GAS data from the loader (#281) (#282)
  app/entry.server.tsx
  app/routes/editorial-board/_loader.ts
  app/routes/editorial-board/route.tsx
  app/utils/editorial-board.server.test.ts
  app/utils/editorial-board.server.ts
Due: format, lint

docs: add default feature/fix and opt-in hotfix PR templates
  .github/PULL_REQUEST_TEMPLATE/hotfix.md
  .github/pull_request_template.md
  docs/_branching-model.md
Due: format

docs: clarify default-template scope and surface hotfix back-merge step
  .github/PULL_REQUEST_TEMPLATE/hotfix.md
  .github/pull_request_template.md
  docs/_branching-model.md
Due: format

docs: drop placeholder bullet from hotfix Fix section
  .github/PULL_REQUEST_TEMPLATE/hotfix.md
Due: format

docs: drop placeholder bullet from default Changes section
  .github/pull_request_template.md
Due: format

docs: fix stale template-free claim in release-pr skill reference
  .agents/skills/general-guidance/references/release-pr.md
Due: format

docs: use plain-text issue placeholder in default template
  .github/pull_request_template.md
Due: format

docs: add PR templates — default feature/fix + opt-in hotfix (#286)
  .agents/skills/general-guidance/references/release-pr.md
  .github/PULL_REQUEST_TEMPLATE/hotfix.md
  .github/pull_request_template.md
  docs/_branching-model.md
Due: format

feat: add AdminSplitButton and AdminPublishDateDialog for publish-date flows (#244)
  app/components/admin/admin-publish-date-dialog/_component.stories.tsx
  app/components/admin/admin-publish-date-dialog/_component.tsx
  app/components/admin/admin-publish-date-dialog/_styles.module.css
  app/components/admin/admin-publish-date-dialog/index.ts
  app/components/admin/admin-split-button/_component.stories.tsx
  app/components/admin/admin-split-button/_component.tsx
  app/components/admin/admin-split-button/_styles.module.css
  app/components/admin/admin-split-button/index.ts
Due: format, lint

fix: close publish-date dialog on submit and make date input id unique
  app/components/admin/admin-publish-date-dialog/_component.tsx
Due: format, lint

fix: harden AdminSplitButton for missing Popover API and add chevron controls
  app/components/admin/admin-split-button/_component.tsx
  app/components/admin/admin-split-button/_styles.module.css
Due: format, lint

fix: refresh publish-date dialog now/max each time it opens
  app/components/admin/admin-publish-date-dialog/_component.tsx
Due: format, lint

fix: preserve UA popover centring when anchor positioning is unsupported
  app/components/admin/admin-split-button/_styles.module.css
Due: format

fix: use aria-pressed for split-button mode options and hide decorative check
  app/components/admin/admin-split-button/_component.tsx
  app/components/admin/admin-split-button/_styles.module.css
Due: format, lint

feat: AdminSplitButton and AdminPublishDateDialog for publish-date flows (#244) (#287)
  app/components/admin/admin-publish-date-dialog/_component.stories.tsx
  app/components/admin/admin-publish-date-dialog/_component.tsx
  app/components/admin/admin-publish-date-dialog/_styles.module.css
  app/components/admin/admin-publish-date-dialog/index.ts
  app/components/admin/admin-split-button/_component.stories.tsx
  app/components/admin/admin-split-button/_component.tsx
  app/components/admin/admin-split-button/_styles.module.css
  app/components/admin/admin-split-button/index.ts
Due: format, lint

feat: backdated publish and change-published-at intents (#245)
  app/config/form-config.ts
  app/routes/administration/articles/article/_index/_action.ts
  app/routes/administration/articles/article/_index/utils/assert-can-set-published-at.ts
  app/routes/administration/articles/article/_index/utils/change-article-published-at.ts
  app/routes/administration/articles/article/_index/utils/publish-article.ts
  app/routes/articles/_index/_loader.ts
Due: format, lint

fix: reject invalid publish date with a clear 400
  app/routes/administration/articles/article/_index/utils/assert-can-set-published-at.ts
Due: format, lint

fix: clear article publishedAt on retract so drafts have no stale date
  app/routes/administration/articles/article/_index/utils/retract-article.ts
Due: format, lint

feat: backdated publish and change-published-at intents (#245) (#288)
  app/config/form-config.ts
  app/routes/administration/articles/article/_index/_action.ts
  app/routes/administration/articles/article/_index/utils/assert-can-set-published-at.ts
  app/routes/administration/articles/article/_index/utils/change-article-published-at.ts
  app/routes/administration/articles/article/_index/utils/publish-article.ts
  app/routes/articles/_index/_loader.ts
Due: format, lint

feat: wire split-button publish and change-publish-date into article detail (#246)
  app/components/icons/calendar-icon/_component.tsx
  app/components/icons/calendar-icon/_styles.module.css
  app/components/icons/calendar-icon/index.ts
  app/routes/administration/articles/article/_index/_loader.ts
  app/routes/administration/articles/article/_index/route.tsx
Due: format, lint

refactor: harden publish-date default formatting and publish-mode typing (#246)
  app/routes/administration/articles/article/_index/_loader.ts
  app/routes/administration/articles/article/_index/route.tsx
Due: format, lint

style: wrap calendar-icon styles in @layer component (#246)
  app/components/icons/calendar-icon/_styles.module.css
Due: format

refactor: convert publish date to UTC on the client via browser timezone (#246)
  app/components/admin/admin-publish-date-dialog/_component.stories.tsx
  app/components/admin/admin-publish-date-dialog/_component.tsx
  app/routes/administration/articles/article/_index/_loader.ts
  app/routes/administration/articles/article/_index/route.tsx
Due: format, lint

refactor: drop redundant ?? undefined on publishedAtISO (#246)
  app/routes/administration/articles/article/_index/_loader.ts
Due: format, lint

docs: make AdminPublishDateDialog's Playground story the first (#246)
  app/components/admin/admin-publish-date-dialog/_component.stories.tsx
Due: format, lint

fix: preserve original publish instant when change-date picker is unchanged (#246)
  app/components/admin/admin-publish-date-dialog/_component.tsx
Due: format, lint

feat: split-button publish and change-publish-date on article detail (#246)
  app/components/admin/admin-publish-date-dialog/_component.stories.tsx
  app/components/admin/admin-publish-date-dialog/_component.tsx
  app/components/icons/calendar-icon/_component.tsx
  app/components/icons/calendar-icon/_styles.module.css
  app/components/icons/calendar-icon/index.ts
  app/routes/administration/articles/article/_index/_loader.ts
  app/routes/administration/articles/article/_index/route.tsx
Due: format, lint

feat: add Sentry error tracking and alerting (#229)
  .env.example
  app/entry.client.tsx
  app/entry.server.tsx
  app/utils/env.server.ts
  constants/env.ts
  instrument.server.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint

fix: strip auth headers in client Sentry beforeSend
  app/entry.client.tsx
Due: format, lint

fix: copy instrument.server.mjs into the Fly runtime image
  docker/fly/Dockerfile
Due: none

refactor: load Sentry instrument only in app:start, not app:dev
  instrument.server.mjs
  package.json
Due: format, lint

fix: run Sentry instrument as .ts and load it via app:start-with-sentry in Docker
  app/utils/env.server.ts
  docker/fly/Dockerfile
  docker/local/.env.example
  docker/local/Dockerfile
  instrument.server.ts
  package.json
  scripts/docker-entry-point-fly.sh
  scripts/docker-entry-point-local.sh
  tsconfig.json
Due: format, lint

refactor: extract client Sentry init into init-sentry.client.ts
  app/entry.client.tsx
  app/utils/init-sentry.client.ts
Due: format, lint

Path conditions:
  format: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,md,css}
  lint: any of: *.{js,ts,cjs,mjs,jsx,tsx}
  prisma-format: any of: *.prisma
