Repository vednemesicnik/cz.vednemesicnik: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, prisma-format

lefthook.yaml:

# Lefthook Git hooks configuration
# Refer for explanation to following link:
# https://lefthook.dev/configuration/

pre-push:
  parallel: true
  commands:
    check:
      run: pnpm biome:check:push {push_files}
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,md,css}"
    typecheck:
      run: pnpm app:typecheck
    test:
      run: pnpm test
    prisma-format:
      run: pnpm prisma:format
      glob: "*.prisma"

pre-commit:
  parallel: true
  commands:
    format:
      run: pnpm biome:format:staged {staged_files}
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,md,css}"
      stage_fixed: true
    lint:
      run: pnpm biome:lint:staged {staged_files}
      glob: "*.{js,ts,cjs,mjs,jsx,tsx}"
      stage_fixed: true
    prisma-format:
      run: pnpm prisma:format
      glob: "*.prisma"
      stage_fixed: true

refactor: rename Route component to RouteComponent for clarity
  app/routes/administration/archive/add-issue/route.tsx
  app/routes/administration/archive/issue/edit-issue/route.tsx
  app/routes/administration/authors/_index/route.tsx
  app/routes/administration/editorial-board/members/__layout/route.tsx
  app/routes/administration/editorial-board/members/_index/route.tsx
  app/routes/administration/editorial-board/positions/__layout/route.tsx
  app/routes/administration/editorial-board/positions/_index/route.tsx
  app/routes/administration/podcasts/_index/route.tsx
  app/routes/administration/podcasts/add-podcast/route.tsx
  app/routes/administration/podcasts/podcast/edit-podcast/route.tsx
  app/routes/administration/podcasts/podcast/episodes/__layout/route.tsx
  app/routes/administration/podcasts/podcast/episodes/_index/route.tsx
  app/routes/administration/podcasts/podcast/episodes/add-episode/route.tsx
  app/routes/administration/podcasts/podcast/episodes/episode/edit-episode/route.tsx
  app/routes/administration/podcasts/podcast/episodes/episode/links/_index/route.tsx
  app/routes/administration/podcasts/podcast/episodes/episode/links/add-link/route.tsx
  app/routes/administration/podcasts/podcast/episodes/episode/links/link/__layout/route.tsx
  app/routes/administration/podcasts/podcast/episodes/episode/links/link/_index/route.tsx
  app/routes/administration/podcasts/podcast/episodes/episode/links/link/edit-link/route.tsx
  app/routes/administration/settings/__layout/route.tsx
  app/routes/administration/sign-in/route.tsx
  app/routes/administration/users/_index/route.tsx
  app/routes/website/_index/route.tsx
  app/routes/website/archive/_index/route.tsx
  app/routes/website/editorial-board/route.tsx
  app/routes/website/organization/route.tsx
  app/routes/website/podcasts/index/route.tsx
  app/routes/website/podcasts/podcast/episode/index/route.tsx
  app/routes/website/podcasts/podcast/episode/splat/route.tsx
  app/routes/website/podcasts/podcast/splat/route.tsx
  app/routes/website/support/route.tsx
Due: format, lint

refactor: streamline member update logic and improve type handling
  app/routes/administration/editorial-board/members/member/edit-member/_action.ts
  app/routes/administration/editorial-board/members/member/edit-member/_schema.ts
  app/routes/administration/editorial-board/members/member/edit-member/route.tsx
  app/routes/administration/editorial-board/members/member/edit-member/utils/update-member.server.ts
  app/routes/administration/podcasts/podcast/episodes/episode/links/add-link/_handle.tsx
  app/routes/administration/podcasts/podcast/episodes/episode/links/link/edit-link/_handle.tsx
  app/utils/get-multipart-form-data.ts
  prisma/utils/get-issue-cover.ts
  prisma/utils/get-issue-pdf.ts
Due: format, lint

refactor: update member update logic and enhance PodcastCover type definition
  app/routes/administration/editorial-board/members/member/edit-member/_action.ts
  prisma/utils/get-podcast-cover.ts
Due: format, lint

refactor: update button styles for primary, danger, and default variants
  app/components/button/_styles.module.css
Due: format

refactor: optimize image loading with Intersection Observer and requestIdleCallback
  app/components/image/_component.tsx
  app/components/image/_styles.module.css
  package.json
  pnpm-lock.yaml
Due: format, lint

refactor: replace useEffect with useLayoutEffect for high-res image loading
  app/components/image/_component.tsx
  app/components/image/_styles.module.css
Due: format, lint

refactor: implement cache validation for image and PDF loaders
  app/routes/resources/issue-cover/_loader.ts
  app/routes/resources/podcast-cover/_loader.ts
  app/routes/resources/podcast-episode-cover/_loader.ts
  app/routes/resources/user-image/_loader.ts
  app/routes/website/archive/issue-pdf/_loader.ts
  app/utils/image.server.ts
  fly.toml
Due: format, lint

refactor: enhance cache validation for image and PDF loaders with updatedAt timestamps
  app/routes/resources/issue-cover/_loader.ts
  app/routes/resources/podcast-cover/_loader.ts
  app/routes/resources/podcast-episode-cover/_loader.ts
  app/routes/resources/user-image/_loader.ts
  app/routes/website/archive/issue-pdf/_loader.ts
  app/routes/website/archive/issue-pdf/route.tsx
  app/utils/cache.server.ts
  app/utils/image.server.ts
Due: format, lint

refactor: replace useLayoutEffect with useEffect for image loading logic
  app/components/image/_component.tsx
  app/components/image/_styles.module.css
Due: format, lint

docs: add authentication middleware documentation and migration plan
  CLAUDE.md
  docs/_authentication-middleware.md
Due: format

docs: update authentication middleware documentation with code examples
  docs/_authentication-middleware.md
Due: format

feat: add AdminTab and AdminTabs components with styling
  app/components/admin-tab/_component.tsx
  app/components/admin-tab/_styles.module.css
  app/components/admin-tab/index.ts
  app/components/admin-tabs/_component.tsx
  app/components/admin-tabs/_styles.module.css
  app/components/admin-tabs/index.ts
Due: format, lint

feat: add Tiptap dependencies for rich text editing
  package.json
  pnpm-lock.yaml
Due: format

feat: create admin entries intersection utility for route configuration
  utils/create-admin-entries-intersection.ts
Due: format, lint

feat: add custom hook useSlug for slug generation and management
  app/utils/permissions/use-slug.ts
Due: format, lint

feat: add TODO for flash message on insufficient permissions
  app/utils/permissions/author/guards/require-author-permission.server.ts
Due: format, lint

feat: update Article table to change content type from String to Json
  prisma/migrations/20251223203825_article_content_change/migration.sql
  prisma/schema.prisma
Due: prisma-format

chore: update @conform-to dependencies to version 1.15.1
  package.json
  pnpm-lock.yaml
Due: format

feat: implement article management interface with text editor and action buttons
  app/components/admin-text-editor/_component.tsx
  app/components/admin-text-editor/_styles.module.css
  app/components/admin-text-editor/components/toolbar-button/_component.tsx
  app/components/admin-text-editor/components/toolbar-button/_styles.module.css
  app/components/admin-text-editor/components/toolbar-button/index.ts
  app/components/admin-text-editor/components/toolbar/_component.tsx
  app/components/admin-text-editor/components/toolbar/_styles.module.css
  app/components/admin-text-editor/components/toolbar/index.ts
  app/components/admin-text-editor/index.ts
  app/routes/administration/articles/_index/_loader.ts
  app/routes/administration/articles/_index/_meta.ts
  app/routes/administration/articles/_index/components/item-row/_component.tsx
  app/routes/administration/articles/_index/components/item-row/index.ts
  app/routes/administration/articles/_index/route.tsx
  app/routes/administration/articles/add-article/_action.ts
  app/routes/administration/articles/add-article/_handle.tsx
  app/routes/administration/articles/add-article/_loader.ts
  app/routes/administration/articles/add-article/_meta.ts
  app/routes/administration/articles/add-article/_schema.ts
  app/routes/administration/articles/add-article/route.tsx
  app/routes/administration/articles/add-article/utils/create-article.server.ts
Due: format, lint

feat: enhance article editor with improved content handling and styles
  app/components/admin-text-editor/_component.tsx
  app/components/admin-text-editor/_styles.css
  app/components/admin-text-editor/_styles.module.css
  app/utils/create-editor-content.ts
Due: format, lint

feat: enhance AdminTextEditor with undo/redo functionality and improved accessibility
  app/components/admin-text-editor/_component.tsx
  app/components/admin-text-editor/_styles.css
  app/components/admin-text-editor/_styles.module.css
  app/components/icons/redo-icon/_component.tsx
  app/components/icons/redo-icon/_styles.module.css
  app/components/icons/redo-icon/index.ts
  app/routes/administration/articles/add-article/_schema.ts
  app/routes/administration/articles/add-article/route.tsx
Due: format, lint

feat: add editor state management for enhanced toolbar functionality
  app/components/admin-text-editor/_component.tsx
Due: format, lint

feat: change content field type from Json to String in schema
  prisma/migrations/20251223203825_article_content_change/migration.sql
  prisma/schema.prisma
Due: prisma-format

feat: refactor article editing components for improved slug handling and content validation
  app/components/admin-text-editor/_component.tsx
  app/routes/administration/articles/add-article/route.tsx
  app/routes/administration/articles/article/edit-article/_action.ts
  app/routes/administration/articles/article/edit-article/_handle.tsx
  app/routes/administration/articles/article/edit-article/_loader.ts
  app/routes/administration/articles/article/edit-article/_meta.ts
  app/routes/administration/articles/article/edit-article/_schema.ts
  app/routes/administration/articles/article/edit-article/route.tsx
  app/routes/administration/articles/article/edit-article/utils/update-article.server.ts
  app/routes/administration/articles/categories/add-category/route.tsx
  app/routes/administration/articles/categories/category/edit-category/_schema.ts
  app/routes/administration/articles/categories/category/edit-category/route.tsx
  app/routes/administration/articles/tags/add-tag/route.tsx
  app/routes/administration/articles/tags/tag/edit-tag/_schema.ts
  app/routes/administration/articles/tags/tag/edit-tag/route.tsx
  app/routes/administration/podcasts/add-podcast/route.tsx
  app/routes/administration/podcasts/podcast/edit-podcast/route.tsx
  app/routes/administration/podcasts/podcast/episodes/add-episode/route.tsx
  app/routes/administration/podcasts/podcast/episodes/episode/edit-episode/route.tsx
  app/utils/is-valid-json.ts
  app/utils/permissions/use-slug.ts
  app/utils/use-auto-slug.ts
Due: format, lint

feat: add AdminButtonLink component with styled button link functionality
  app/components/admin-button-link/_component.tsx
  app/components/admin-button-link/_styles.module.css
  app/components/admin-button-link/index.ts
  app/components/base-button/_styles.module.css
Due: format, lint

feat: update grid layout in styles for improved item alignment
  app/components/fieldset/_styles.module.css
Due: format

feat: enhance article update functionality with slug regeneration feature
  app/routes/administration/articles/article/edit-article/route.tsx
  app/routes/administration/articles/article/edit-article/utils/update-article.server.ts
  app/routes/administration/articles/categories/category/edit-category/route.tsx
  app/routes/administration/articles/tags/tag/edit-tag/route.tsx
  app/routes/administration/podcasts/podcast/edit-podcast/route.tsx
  app/routes/administration/podcasts/podcast/episodes/episode/edit-episode/route.tsx
  app/utils/use-auto-slug.ts
Due: format, lint

feat: add article management actions for archiving, deleting, publishing, restoring, retracting, and reviewing articles
  app/routes/administration/articles/article/_index/_action.ts
  app/routes/administration/articles/article/_index/_loader.ts
  app/routes/administration/articles/article/_index/_meta.ts
  app/routes/administration/articles/article/_index/route.tsx
  app/routes/administration/articles/article/_index/utils/archive-article.ts
  app/routes/administration/articles/article/_index/utils/delete-article.ts
  app/routes/administration/articles/article/_index/utils/publish-article.ts
  app/routes/administration/articles/article/_index/utils/restore-article.ts
  app/routes/administration/articles/article/_index/utils/retract-article.ts
  app/routes/administration/articles/article/_index/utils/review-article.ts
  app/routes/administration/articles/categories/category/_index/route.tsx
Due: format, lint

feat: implement AdminImagesInput and AdminImageGallery components for image upload and display functionality
  app/components/admin-image-gallery/_component.tsx
  app/components/admin-image-gallery/_styles.module.css
  app/components/admin-image-gallery/index.ts
  app/components/admin-images-input/_component.tsx
  app/components/admin-images-input/_styles.module.css
  app/components/admin-images-input/index.ts
  app/components/admin-text-editor/_component.tsx
  app/routes/administration/articles/add-article/_action.ts
  app/routes/administration/articles/add-article/_schema.ts
  app/routes/administration/articles/add-article/route.tsx
  app/routes/administration/articles/add-article/utils/create-article.server.ts
  app/routes/administration/articles/article/_index/_loader.ts
  app/routes/administration/articles/article/_index/route.tsx
  app/routes/administration/articles/article/edit-article/_action.ts
  app/routes/administration/articles/article/edit-article/_loader.ts
  app/routes/administration/articles/article/edit-article/_schema.ts
  app/routes/administration/articles/article/edit-article/route.tsx
  app/routes/administration/articles/article/edit-article/utils/update-article.server.ts
  app/utils/create-article-image-url.ts
  app/utils/is-valid-json.ts
Due: format, lint

feat: refactor AdminTextEditor to use useField for form state management
  app/components/admin-text-editor/_component.tsx
  app/components/form/_component.tsx
  app/routes/administration/articles/add-article/route.tsx
  app/routes/administration/articles/article/edit-article/route.tsx
Due: format, lint

feat: refactor styles to utilize CSS layers for improved organization
  app/components/admin-images-input/_styles.module.css
  app/components/icons/upload-file-icon/_styles.module.css
Due: format

feat: add AdminFileInput component for file upload with error handling and previews
  app/components/admin-file-input/_component.tsx
  app/components/admin-file-input/_styles.module.css
  app/components/admin-file-input/index.ts
  app/components/admin-image-preview-card/_component.tsx
  app/components/admin-image-preview-card/_styles.module.css
  app/components/admin-image-preview-card/index.ts
  app/components/admin-image-preview-radio-input-group/_component.tsx
  app/components/admin-image-preview-radio-input-group/_styles.module.css
  app/components/admin-image-preview-radio-input-group/index.ts
  app/components/admin-images-input/_component.tsx
  app/components/admin-images-input/index.ts
  app/components/admin-radio-input-base/_component.tsx
  app/components/admin-radio-input-base/_styles.module.css
  app/components/admin-radio-input-base/index.ts
  app/components/radio/_component.tsx
  app/components/radio/_styles.module.css
  app/hooks/use-images-input.ts
  app/routes/administration/articles/add-article/route.tsx
Due: format, lint

feat: reorder AdminDetailItem components for improved layout in article details
  app/routes/administration/articles/article/_index/route.tsx
Due: format, lint

feat: update grid layout and image styles for improved responsiveness
  app/components/admin-detail-section/_styles.module.css
  app/components/admin-image-gallery/_component.tsx
  app/components/admin-image-gallery/_styles.module.css
Due: format, lint

feat: add AdminImageDeleteButton component and integrate with image preview functionality
  app/components/admin-image-delete-button/_component.tsx
  app/components/admin-image-delete-button/_styles.module.css
  app/components/admin-image-delete-button/index.ts
  app/components/admin-image-preview-card/_component.tsx
  app/components/admin-image-preview-card/_styles.module.css
  app/components/admin-image-preview-radio-input-group/_component.tsx
  app/config/featured-image-config.ts
  app/hooks/use-images-input.ts
  app/routes/administration/articles/add-article/_action.ts
  app/routes/administration/articles/add-article/_schema.ts
  app/routes/administration/articles/add-article/route.tsx
  app/routes/administration/articles/add-article/utils/create-article.server.ts
Due: format, lint

feat: add Blockquote and BulletedList components with styles and content rendering support
  app/components/blockquote/_component.tsx
  app/components/blockquote/_styles.module.css
  app/components/blockquote/index.ts
  app/components/bulleted-list/_component.tsx
  app/components/bulleted-list/_styles.module.css
  app/components/bulleted-list/index.ts
  app/components/content-renderer/_component.tsx
  app/components/content-renderer/index.ts
  app/components/heading/_component.tsx
  app/components/heading/_styles.module.css
  app/components/heading/index.ts
  app/components/list/index.ts
  app/components/ordered-list/_component.tsx
  app/components/ordered-list/_styles.module.css
  app/components/ordered-list/index.ts
  app/routes.ts
  app/routes/administration/articles/article/_index/route.tsx
  app/routes/website/articles/_index/_loader.ts
  app/routes/website/articles/_index/_meta.ts
  app/routes/website/articles/_index/route.tsx
  app/routes/website/articles/article/_loader.ts
  app/routes/website/articles/article/_meta.ts
  app/routes/website/articles/article/route.tsx
  app/routes/website/organization/route.tsx
  app/routes/website/podcasts/podcast/episode/index/route.tsx
Due: format, lint

feat: change article title from h1 to span for improved styling flexibility
  app/components/app-header/components/home-link/_component.tsx
Due: format, lint
