Repository vednemesicnik/cz.vednemesicnik: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, prisma-format

format:
  run: pnpm biome:format:staged {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome:lint:staged {staged_files}
  stage_fixed: true

prisma-format:
  run: pnpm prisma:format
  stage_fixed: true

chore(deps): bump @tiptap/* to 3.27.1
  package.json
  pnpm-lock.yaml
Due: format

chore(deps): override hono to 4.12.27 to clear dev-tooling alerts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(deps): bump Storybook to 10.4.6
  package.json
  pnpm-lock.yaml
Due: format

fix(deploy): stop pnpm 11 reinstalling dev deps at container startup
  docker/fly/Dockerfile
  docker/local/Dockerfile
  pnpm-workspace.yaml
Due: none

fix(deploy): stop pnpm 11 reinstalling dev deps at container startup (#105)
  docker/fly/Dockerfile
  docker/local/Dockerfile
  pnpm-workspace.yaml
Due: none

style: sort imports in update-article.server.ts to satisfy Biome
  app/routes/administration/articles/article/edit-article/utils/update-article.server.ts
Due: format, lint

chore: add general-guidance and modern-web-guidance agent skills
  package.json
  pnpm-lock.yaml
Due: format

feat: add rate limiting middleware to donate request-confirmation form
  app/routes/website/donate/request-confirmation/_index/_action.ts
  app/routes/website/donate/request-confirmation/_index/_middleware.ts
  app/routes/website/donate/request-confirmation/_index/route.tsx
  app/routes/website/donate/request-confirmation/_index/utils/format-retry-after.test.ts
  app/routes/website/donate/request-confirmation/_index/utils/format-retry-after.ts
  app/utils/rate-limit.server.ts
Due: format, lint

chore: upgrade react-router from v7 to v8
  .gitignore
Due: none

fix: add missing name attribute to donor type radio group for correct keyboard navigation
  app/routes/website/donate/request-confirmation/_index/route.tsx
Due: format, lint

feat: responsive header navigation with Popover API on mobile
  app/components/app-header/_styles.module.css
  app/components/app-header/components/navigation/_component.tsx
  app/components/app-header/components/navigation/_styles.module.css
  app/components/icons/menu-icon/_component.tsx
  app/components/icons/menu-icon/_styles.module.css
  app/components/icons/menu-icon/index.ts
Due: format, lint

fix: sort React imports to satisfy Biome organize-imports
  app/components/app-header/components/navigation/_component.tsx
Due: format, lint

fix: sort RadioOption props alphabetically to satisfy Biome
  app/routes/website/donate/request-confirmation/_index/route.tsx
Due: format, lint

fix: gate header hero reveal on @supports and stop wave on prefers-reduced-motion
  app/components/app-header/_styles.module.css
  app/components/page-hero/_styles.module.css
Due: format

fix: add missing value attributes to donor type radio group
  app/routes/website/donate/request-confirmation/_index/route.tsx
Due: format, lint

fix: align icon to top with 1px offset for optical centering in error-message and hint
  app/routes/website/donate/request-confirmation/_index/components/error-message/_styles.module.css
  app/routes/website/donate/request-confirmation/_index/components/hint/_styles.module.css
Due: format

feat: animate mobile nav panel with @starting-style and allow-discrete
  app/components/app-header/components/navigation/_styles.module.css
Due: format

fix: replace transition with @keyframes to eliminate breakpoint resize flash
  app/components/app-header/components/navigation/_styles.module.css
Due: format

feat: size logo and nav trigger via --header-content-height, add inverted tokens, align breakpoints to 768px
  app/components/app-footer/_styles.module.css
  app/components/app-footer/components/site-content/_site-content.module.css
  app/components/app-header/components/home-link/_styles.module.css
  app/components/app-header/components/navigation-item/_styles.module.css
  app/components/app-header/components/navigation/_component.tsx
  app/components/app-header/components/navigation/_styles.module.css
  app/styles/public-semantic-tokens.css
Due: format, lint

docs: add GAS donation confirmation secrets to Fly.io deploy guide
  docs/_deploy-to-fly.md
Due: format

revert: add view transitions to donate flow
  app/components/app-footer/_styles.module.css
  app/components/app-header/_styles.module.css
  app/components/page/_component.tsx
  app/routes/website/donate/_index/_styles.module.css
  app/routes/website/donate/_index/route.tsx
  app/routes/website/donate/request-confirmation/_index/_styles.module.css
  app/routes/website/donate/request-confirmation/_index/route.tsx
  app/routes/website/donate/request-confirmation/sent/_styles.module.css
  app/routes/website/donate/request-confirmation/sent/components/headline-icon/_styles.module.css
  app/routes/website/donate/request-confirmation/sent/route.tsx
  app/styles/global.css
Due: format, lint

fix: prevent callout from inheriting centered text-align on small screens
  app/components/callout/_styles.module.css
Due: format

feat: hide header on scroll down, reveal on scroll up via CSS scroll-state queries
  app/components/app-header/_styles.module.css
  app/styles/global.css
Due: format

fix: suppress deck transition on in-place re-render, pin chrome, tune easing
  app/components/back-link/_component.tsx
  app/hooks/use-isomorphic-layout-effect.ts
  app/routes/website/donate/_index/_styles.module.css
  app/routes/website/donate/_index/route.tsx
  app/routes/website/donate/request-confirmation/_index/_styles.module.css
  app/routes/website/donate/request-confirmation/_index/route.tsx
  app/routes/website/donate/request-confirmation/sent/components/headline-icon/_component.tsx
  app/routes/website/donate/request-confirmation/sent/components/headline-icon/_styles.module.css
  app/styles/global.css
  app/utils/deck-transition.ts
Due: format, lint

feat: add view transitions to donate flow — pin chrome, scoped deck, CTA morph, success stamp
  app/components/app-footer/_styles.module.css
  app/components/app-header/_styles.module.css
  app/components/page/_component.tsx
  app/routes/website/donate/_index/_styles.module.css
  app/routes/website/donate/_index/route.tsx
  app/routes/website/donate/request-confirmation/_index/_styles.module.css
  app/routes/website/donate/request-confirmation/_index/route.tsx
  app/routes/website/donate/request-confirmation/sent/_styles.module.css
  app/routes/website/donate/request-confirmation/sent/components/headline-icon/_styles.module.css
  app/routes/website/donate/request-confirmation/sent/route.tsx
  app/styles/global.css
Due: format, lint

revert: suppress deck transition on in-place re-render, pin chrome, tune easing
  app/components/back-link/_component.tsx
  app/hooks/use-isomorphic-layout-effect.ts
  app/routes/website/donate/_index/_styles.module.css
  app/routes/website/donate/_index/route.tsx
  app/routes/website/donate/request-confirmation/_index/_styles.module.css
  app/routes/website/donate/request-confirmation/_index/route.tsx
  app/routes/website/donate/request-confirmation/sent/components/headline-icon/_component.tsx
  app/routes/website/donate/request-confirmation/sent/components/headline-icon/_styles.module.css
  app/styles/global.css
  app/utils/deck-transition.ts
Due: format, lint

refactor(donate): move @layer inside selectors, use color-mix for hero text opacity
  app/routes/website/donate/_index/_styles.module.css
Due: format

feat(archive): store issue PDFs in object store instead of SQLite
  .env.example
  app/routes/administration/archive/add-issue/_action.ts
  app/routes/administration/archive/issue/_index/utils/delete-issue.ts
  app/routes/administration/archive/issue/edit-issue/_action.ts
  app/routes/website/archive/issue-pdf/_loader.ts
  app/utils/env.server.ts
  app/utils/image-store/image-key.ts
  app/utils/image-store/image-store.server.ts
  app/utils/object-store/create-object-store.ts
  app/utils/object-store/create-tigris-object-store.test.ts
  app/utils/object-store/create-tigris-object-store.ts
  app/utils/object-store/create-volume-object-store.ts
  app/utils/object-store/types.ts
  app/utils/pdf-store/pdf-key.ts
  app/utils/pdf-store/pdf-store.server.ts
  app/utils/pdf-store/serve-pdf.server.ts
  app/utils/pdf-store/store-pdf.server.ts
  constants/env.ts
  docker/fly/Dockerfile
  docker/local/Dockerfile
  docs/_deploy-to-fly.md
  fly.toml
  package.json
  prisma/migrations/20260704081734_make_issue_pdf_blob_nullable/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  prisma/utils/create-issues.ts
  prisma/utils/get-issue-pdf.ts
  prisma/utils/store-seed-pdf.ts
  scripts/backfill-issue-pdfs.ts
Due: format, lint, prisma-format

build(backfill): bundle issue-pdf backfill to build/*.mjs for node on Fly
  docs/_deploy-to-fly.md
  package.json
  scripts/backfill-issue-pdfs.ts
  vite.backfill.config.ts
Due: format, lint

fix(archive): serve issue PDFs with no-cache revalidation, not immutable
  app/routes/website/archive/issue-pdf/_loader.ts
  app/utils/cache.server.ts
  app/utils/pdf-store/serve-pdf.server.ts
Due: format, lint

refactor(archive): address Copilot review on backfill + create cleanup
  app/routes/administration/archive/add-issue/_action.ts
  scripts/backfill-issue-pdfs.ts
Due: format, lint

docs/test: address Copilot review — STORE_DRIVER rename + pdf-store tests
  app/utils/pdf-store/store-pdf.server.test.ts
  docs/_manual-database-backup.md
  docs/_manual-database-restore.md
Due: format, lint

docs: include issue PDFs in the volume-driver backup/restore procedures
  docs/_manual-database-backup.md
  docs/_manual-database-restore-local-docker.md
  docs/_manual-database-restore.md
Due: format

docs: clarify PDFs are mid-migration (legacy blob kept until #108)
  docs/_manual-database-backup.md
  docs/_manual-database-restore.md
Due: format

refactor(archive): self-review polish — lazy blob load + comment fixes
  app/routes/administration/archive/add-issue/_action.ts
  app/routes/website/archive/issue-pdf/_loader.ts
  app/utils/pdf-store/pdf-key.ts
  scripts/backfill-issue-pdfs.ts
Due: format, lint

Path conditions:
  format: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,md,css}
  lint: any of: *.{js,ts,cjs,mjs,jsx,tsx}
  prisma-format: any of: *.prisma
