Repository vednemesicnik/cz.vednemesicnik: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, prisma-format

format:
  run: pnpm biome:format:staged {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome:lint:staged {staged_files}
  stage_fixed: true

prisma-format:
  run: pnpm prisma:format
  stage_fixed: true

fix: gate Sentry captureException on DSN presence
  app/entry.server.tsx
  app/utils/init-sentry.client.ts
Due: format, lint

feat: add Sentry error tracking and alerting (#229)
  .env.example
  app/entry.client.tsx
  app/entry.server.tsx
  app/utils/env.server.ts
  app/utils/init-sentry.client.ts
  constants/env.ts
  docker/fly/Dockerfile
  docker/local/.env.example
  docker/local/Dockerfile
  instrument.server.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/docker-entry-point-fly.sh
  scripts/docker-entry-point-local.sh
  tsconfig.json
Due: format, lint

feat: upload source maps to Sentry for readable production stack traces
  .env.example
  .github/workflows/deploy.yml
  docker/fly/Dockerfile
  docker/local/.env.example
  docs/_deploy-to-fly.md
  react-router.config.ts
  vite.config.ts
Due: format, lint

fix: gate Sentry source-map upload on org and project too
  react-router.config.ts
  vite.config.ts
Due: format, lint

docs: use Sentry org auth token with org:ci scope for source-map upload
  docs/_deploy-to-fly.md
Due: format

feat: upload source maps to Sentry for readable production stack traces (#303)
  .env.example
  .github/workflows/deploy.yml
  docker/fly/Dockerfile
  docker/local/.env.example
  docs/_deploy-to-fly.md
  react-router.config.ts
  vite.config.ts
Due: format, lint

fix: read Sentry build secret from file, not the unsupported env= mount key
  docker/fly/Dockerfile
Due: none

fix: read Sentry build secret from file, not the unsupported env= mount key (#307)
  docker/fly/Dockerfile
Due: none

fix: pin Dockerfile frontend to restore clean env= Sentry secret mount
  docker/fly/Dockerfile
Due: none

fix: pin Dockerfile frontend to restore clean env= Sentry secret mount (#310)
  docker/fly/Dockerfile
Due: none

fix: install ca-certificates so sentry-cli can upload source maps
  docker/fly/Dockerfile
Due: none

fix: install ca-certificates so sentry-cli can upload source maps (#314)
  docker/fly/Dockerfile
Due: none

refactor(podcasts): drop unused id from add-episode link schema
  app/routes/administration/podcasts/podcast/episodes/add-episode/_schema.ts
Due: format, lint

refactor(podcasts): drop unused id from edit-episode link form
  app/routes/administration/podcasts/podcast/episodes/episode/edit-episode/_loader.ts
  app/routes/administration/podcasts/podcast/episodes/episode/edit-episode/_schema.ts
  app/routes/administration/podcasts/podcast/episodes/episode/edit-episode/route.tsx
Due: format, lint

fix(podcasts): make episode link set replacement and order robust
  app/routes/administration/podcasts/podcast/episodes/episode/edit-episode/utils/update-episode.server.ts
  prisma/migrations/20260720190630_episode_links_into_episode_form/migration.sql
Due: format, lint

perf(db): index content-state query paths (#230)
  prisma/migrations/20260720210441_add_content_state_indexes/migration.sql
  prisma/schema.prisma
Due: prisma-format

perf(db): index content-state query paths (#230) (#320)
  prisma/migrations/20260720210441_add_content_state_indexes/migration.sql
  prisma/schema.prisma
Due: prisma-format

feat(articles): protect drafts from data loss (#232)
  app/components/admin/admin-draft-restore-banner/_component.tsx
  app/components/admin/admin-draft-restore-banner/index.ts
  app/components/admin/admin-leave-confirmation-dialog/_component.tsx
  app/components/admin/admin-leave-confirmation-dialog/index.ts
  app/components/banner/_component.tsx
  app/components/banner/_styles.module.css
  app/components/banner/index.ts
  app/routes/administration/articles/add-article/route.tsx
  app/routes/administration/articles/article/edit-article/route.tsx
  app/utils/article-backup.test.ts
  app/utils/article-backup.ts
  app/utils/use-draft-restore.ts
  app/utils/use-unsaved-changes-guard.ts
Due: format, lint

fix(articles): harden draft backup beforeunload and prune
  app/utils/article-backup.ts
  app/utils/use-unsaved-changes-guard.ts
Due: format, lint

fix(articles): strip File objects from draft backups
  app/routes/administration/articles/add-article/route.tsx
  app/routes/administration/articles/article/edit-article/route.tsx
  app/utils/article-backup.test.ts
  app/utils/article-backup.ts
Due: format, lint

fix(articles): clear draft backup only after a successful submit redirect
  app/routes/administration/articles/add-article/route.tsx
  app/routes/administration/articles/article/edit-article/route.tsx
  app/utils/use-unsaved-changes-guard.ts
Due: format, lint

fix(articles): reset restored draft when the backup key changes
  app/utils/use-draft-restore.ts
Due: format, lint

refactor(banner): make Banner composable with grid-area slots
  app/components/admin/admin-draft-restore-banner/_component.tsx
  app/components/banner/_component.tsx
  app/components/banner/_styles.module.css
  app/components/banner/index.ts
Due: format, lint

refactor(banner): give each slot its own component file
  app/components/banner/_component.tsx
  app/components/banner/banner-actions/_component.tsx
  app/components/banner/banner-actions/_styles.module.css
  app/components/banner/banner-actions/index.ts
  app/components/banner/banner-content/_component.tsx
  app/components/banner/banner-content/_styles.module.css
  app/components/banner/banner-content/index.ts
  app/components/banner/banner/_component.tsx
  app/components/banner/banner/_styles.module.css
  app/components/banner/banner/index.ts
  app/components/banner/index.ts
Due: format, lint

fix(articles): fire clear-on-redirect once per submit
  app/utils/use-unsaved-changes-guard.ts
Due: format, lint

docs(agents): add self-review-before-pr rule
  .agents/rules/self-review-before-pr/RULE.md
  AGENTS.md
Due: format

feat(articles): protect drafts from data loss (#232) (#323)
  .agents/rules/self-review-before-pr/RULE.md
  AGENTS.md
  app/components/admin/admin-draft-restore-banner/_component.tsx
  app/components/admin/admin-draft-restore-banner/index.ts
  app/components/admin/admin-leave-confirmation-dialog/_component.tsx
  app/components/admin/admin-leave-confirmation-dialog/index.ts
  app/components/banner/banner-actions/_component.tsx
  app/components/banner/banner-actions/_styles.module.css
  app/components/banner/banner-actions/index.ts
  app/components/banner/banner-content/_component.tsx
  app/components/banner/banner-content/_styles.module.css
  app/components/banner/banner-content/index.ts
  app/components/banner/banner/_component.tsx
  app/components/banner/banner/_styles.module.css
  app/components/banner/banner/index.ts
  app/components/banner/index.ts
  app/routes/administration/articles/add-article/route.tsx
  app/routes/administration/articles/article/edit-article/route.tsx
  app/utils/article-backup.test.ts
  app/utils/article-backup.ts
  app/utils/use-draft-restore.ts
  app/utils/use-unsaved-changes-guard.ts
Due: format, lint

chore(deps): upgrade Prisma to 7.9.0 and drop hono + better-sqlite3 overrides
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

chore(deps): upgrade Prisma to 7.9.0 and drop hono + better-sqlite3 overrides (#326)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

chore(deps): bump pnpm to 11.15.1
  package.json
Due: format

chore(deps): bump vulnerable transitive deps to clear Dependabot alerts
  pnpm-lock.yaml
Due: none

chore(deps): bump vulnerable transitive deps to clear Dependabot alerts (#327)
  package.json
  pnpm-lock.yaml
Due: format

feat(storybook): add color palette stories for public and admin design tokens
  app/stories/admin-colors.stories.tsx
  app/stories/colors.stories.tsx
Due: format, lint

feat(storybook): add color palette stories for public and admin design tokens (#328)
  app/stories/admin-colors.stories.tsx
  app/stories/colors.stories.tsx
Due: format, lint

style(links): wrap CSS module rules in @layer route
  app/routes/links/components/content/_styles.module.css
  app/routes/links/components/footer/_styles.module.css
  app/routes/links/components/graphic-link/_styles.module.css
  app/routes/links/components/header/_styles.module.css
  app/routes/links/components/simple-hyperlink/_styles.module.css
  app/routes/links/components/simple-link/_styles.module.css
  app/routes/links/components/vdm-logo-clip/_styles.module.css
Due: format

style(components): wrap remaining CSS module rules in @layer
  app/components/admin/admin-breadcrumbs/_styles.module.css
  app/components/admin/admin-file-input/_styles.module.css
  app/components/admin/admin-image-gallery/_styles.module.css
  app/components/admin/admin-image-input/_styles.module.css
  app/components/admin/admin-input/_styles.module.css
  app/components/admin/admin-radio-input/_styles.module.css
  app/components/admin/admin-tab/_styles.module.css
  app/components/admin/admin-text-editor/_styles.module.css
  app/components/admin/admin-text-editor/components/toolbar-button/_styles.module.css
  app/components/admin/admin-textarea/_styles.module.css
  app/components/admin/admin-user-menu/_styles.module.css
  app/components/admin/admin-user-menu/components/toggle/_styles.module.css
  app/components/admin/administration-sidebar/components/sidebar-link/_styles.module.css
  app/components/app-header/components/home-link/_styles.module.css
  app/components/button/_styles.module.css
  app/components/featured-banner/_styles.module.css
  app/components/fieldset/_styles.module.css
  app/components/file-input/_styles.module.css
  app/components/select/_styles.module.css
  app/components/social-sites/_styles.module.css
Due: format

style(components): move base selectors from @layer variant to component
  app/components/admin/admin-file-input/_styles.module.css
  app/components/social-sites/_styles.module.css
Due: format

Path conditions:
  format: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,md,css}
  lint: any of: *.{js,ts,cjs,mjs,jsx,tsx}
  prisma-format: any of: *.prisma
