Repository vednemesicnik/cz.vednemesicnik: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, prisma-format

lefthook.yaml:

# Lefthook Git hooks configuration
# Refer for explanation to following link:
# https://lefthook.dev/configuration/

pre-push:
  parallel: true
  commands:
    check:
      run: pnpm biome:check:push {push_files}
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,md,css}"
    typecheck:
      run: pnpm app:typecheck
    test:
      run: pnpm test
    prisma-format:
      run: pnpm prisma:format
      glob: "*.prisma"

pre-commit:
  parallel: true
  commands:
    format:
      run: pnpm biome:format:staged {staged_files}
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,md,css}"
      stage_fixed: true
    lint:
      run: pnpm biome:lint:staged {staged_files}
      glob: "*.{js,ts,cjs,mjs,jsx,tsx}"
      stage_fixed: true
    prisma-format:
      run: pnpm prisma:format
      glob: "*.prisma"
      stage_fixed: true

refactor: update button text color variables for improved design consistency
  app/components/admin/admin-action-button/_styles.module.css
  app/components/admin/admin-button/_styles.module.css
  app/components/admin/admin-image-gallery/_styles.module.css
  app/components/admin/admin-link-button/_styles.module.css
  app/styles/admin-semantic-tokens.css
Due: format

fix: correct key placement in author list for improved rendering
  app/components/public/article-hero/_component.tsx
Due: format, lint

feat: update Article model to support multiple authors with a join table
  prisma/migrations/20260410191310_add_article_authors_many_to_many/migration.sql
  prisma/schema.prisma
Due: prisma-format

feat: update author permission handling to support multiple authors
  app/utils/permissions/author/actions/with-author-permission.server.ts
  app/utils/permissions/author/guards/require-author-permission.server.ts
Due: format, lint

refactor: update CSS variables for improved design consistency
  app/components/error-message/_styles.module.css
  app/components/fieldset/_styles.module.css
  app/components/file-input/_styles.module.css
  app/components/label/_styles.module.css
  app/components/select/_styles.module.css
Due: format

feat: enhance article model to support multiple authors and update related components
  app/routes/administration/_index/route.tsx
  app/routes/administration/_index/utils/get-pending-articles.server.ts
  app/routes/administration/archive/issue/_index/_action.ts
  app/routes/administration/articles/_index/_loader.ts
  app/routes/administration/articles/add-article/_action.ts
  app/routes/administration/articles/add-article/_schema.ts
  app/routes/administration/articles/add-article/_styles.module.css
  app/routes/administration/articles/add-article/route.tsx
  app/routes/administration/articles/add-article/utils/create-article.server.ts
  app/routes/administration/articles/article/_index/_action.ts
  app/routes/administration/articles/article/_index/_loader.ts
  app/routes/administration/articles/article/_index/route.tsx
  app/routes/administration/articles/article/_index/utils/publish-article.ts
  app/routes/administration/articles/article/edit-article/_action.ts
  app/routes/administration/articles/article/edit-article/_loader.ts
  app/routes/administration/articles/article/edit-article/_schema.ts
  app/routes/administration/articles/article/edit-article/_styles.module.css
  app/routes/administration/articles/article/edit-article/route.tsx
  app/routes/administration/articles/article/edit-article/utils/update-article.server.ts
  app/routes/administration/articles/categories/add-category/utils/create-category.server.ts
  app/routes/administration/articles/categories/category/_index/_action.ts
  app/routes/administration/articles/categories/category/edit-category/utils/update-category.server.ts
  app/routes/administration/articles/tags/add-tag/utils/create-article-tag.server.ts
  app/routes/administration/articles/tags/tag/_index/_action.ts
  app/routes/administration/articles/tags/tag/edit-tag/utils/update-tag.server.ts
  app/routes/administration/editorial-board/members/member/_index/_action.ts
  app/routes/administration/editorial-board/positions/position/_index/_action.ts
  app/routes/administration/podcasts/podcast/_index/_action.ts
  app/routes/administration/podcasts/podcast/episodes/episode/_index/_action.ts
  app/routes/administration/podcasts/podcast/episodes/episode/links/link/_index/_action.ts
  app/routes/website/_index/_loader.ts
  app/routes/website/_index/route.tsx
  app/routes/website/articles/_index/_loader.ts
  app/routes/website/articles/_index/route.tsx
  app/routes/website/articles/article/_loader.ts
  app/routes/website/articles/article/route.tsx
Due: format, lint

fix: correct author ID handling in pending articles and update button properties
  app/routes/administration/_index/utils/get-pending-articles.server.ts
  app/routes/administration/articles/add-article/route.tsx
  app/routes/administration/articles/article/edit-article/route.tsx
Due: format, lint

feat: improve author handling in articles with validation and default options
  app/routes/administration/articles/_index/_loader.ts
  app/routes/administration/articles/add-article/_schema.ts
  app/routes/administration/articles/add-article/route.tsx
  app/routes/administration/articles/article/_index/_loader.ts
  app/routes/administration/articles/article/edit-article/_schema.ts
  app/routes/administration/articles/article/edit-article/route.tsx
Due: format, lint

feat: add validation for author IDs in permission checks to ensure proper handling
  app/utils/permissions/author/actions/with-author-permission.server.ts
  app/utils/permissions/author/guards/require-author-permission.server.ts
Due: format, lint

refactor: update comments in schema.prisma for clarity on author relationships
  prisma/schema.prisma
Due: prisma-format

feat: add manual database restore instructions for local Docker environment
  docs/_manual-database-restore-local-docker.md
Due: format

feat: add grants and grant detail page
  app/components/app-footer/components/complementary-information/_complementary-information.module.css
  app/components/app-footer/components/complementary-information/_complementary-information.tsx
  app/components/app-footer/components/site-content/_site-content.tsx
  app/components/logos/cb-logo/_component.tsx
  app/components/logos/cb-logo/index.ts
  app/data/grants.ts
  app/routes.ts
  app/routes/website/grants/__layout/_handle.ts
  app/routes/website/grants/__layout/route.tsx
  app/routes/website/grants/_index/_meta.ts
  app/routes/website/grants/_index/route.tsx
  app/routes/website/grants/grant/_handle.tsx
  app/routes/website/grants/grant/_loader.ts
  app/routes/website/grants/grant/_meta.ts
  app/routes/website/grants/grant/_styles.module.css
  app/routes/website/grants/grant/route.tsx
Due: format, lint

feat: replace paragraph with subheadline for improved content structure
  app/routes/website/grants/_index/route.tsx
  app/routes/website/grants/grant/route.tsx
Due: format, lint

feat: add bundled image store backfill migration script
  package.json
  scripts/migrate-images-to-store.ts
  tsconfig.json
  vite.migrate.config.ts
Due: format, lint

docs: document image store backfill, deploy and backup/restore
  docs/_about-the-project.md
  docs/_cloudflare-image-caching.md
  docs/_deploy-to-fly.md
  docs/_manual-database-backup.md
  docs/_manual-database-restore-local-docker.md
  docs/_manual-database-restore.md
Due: format

chore: gitignore tasks scratch directory
  .gitignore
Due: none

fix: cover-fit thumbnail images in content link box
  app/components/content-link-image/_styles.module.css
Due: format

refactor: simplify image row construction with meta spread and clearer empty-array guards
  app/routes/administration/archive/add-issue/_action.ts
  app/routes/administration/archive/issue/edit-issue/_action.ts
  app/routes/administration/articles/add-article/utils/create-article.server.ts
  app/routes/administration/articles/article/edit-article/utils/update-article.server.ts
  app/routes/administration/podcasts/add-podcast/utils/create-podcast.server.ts
  app/routes/administration/podcasts/podcast/edit-podcast/utils/update-podcast.server.ts
Due: format, lint

refactor: extract shared prepareCoverReplacement helper for cover edits
  app/routes/administration/archive/issue/edit-issue/_action.ts
  app/routes/administration/podcasts/podcast/edit-podcast/utils/update-podcast.server.ts
  app/utils/image-store/store-image.server.ts
Due: format, lint

chore: add AGENTS.md, general-guidance skill and agent rules; point CLAUDE.md to AGENTS.md
  .agents/rules/file-naming/RULE.md
  .agents/rules/functional-style/RULE.md
  .agents/rules/package-versions/RULE.md
  .agents/rules/typescript-conventions/RULE.md
  .agents/skills/general-guidance/SKILL.md
  .agents/skills/general-guidance/references/css-layers.md
  .agents/skills/general-guidance/references/storybook.md
  AGENTS.md
  CLAUDE.md
Due: format

refactor: share article featured-image SEO helper with object-param signatures
  app/routes/administration/archive/issue/edit-issue/_action.ts
  app/routes/administration/articles/add-article/utils/create-article.server.ts
  app/routes/administration/articles/article/edit-article/utils/update-article.server.ts
  app/routes/administration/articles/utils/resolve-article-featured-image-seo.server.ts
  app/routes/administration/podcasts/podcast/edit-podcast/utils/update-podcast.server.ts
  app/utils/image-store/store-image.server.ts
Due: format, lint

refactor: dedupe image deletion query and clarify image buffer/loading comments
  app/components/image/_component.tsx
  app/routes/administration/articles/article/edit-article/utils/update-article.server.ts
  app/utils/image-store/generate-image-variants.server.ts
Due: format, lint

test: add image-key and select-variant-widths tests; require IMAGE_STORE_PATH env
  app/utils/env.server.ts
  app/utils/image-store/image-key.test.ts
  app/utils/image-store/select-variant-widths.test.ts
Due: format, lint

docs: note deliberate quality compromise in ensureOgImage
  app/utils/image-store/store-image.server.ts
Due: format, lint

fix: accept intrinsic-width variants in isValidVariantName
  app/utils/image-store/image-key.test.ts
  app/utils/image-store/image-key.ts
  app/utils/image-store/serve-image.server.ts
Due: format, lint

perf: render responsive image in SSR for LCP, prioritize hero/featured, fix duplicate alt
  app/components/featured-image/_component.tsx
  app/components/image/_component.tsx
  app/components/public/article-hero/_component.tsx
Due: format, lint

feat: seed pre-generated image variants to the volume instead of DB blobs
  prisma/seed.ts
  prisma/utils/cleanup-db.ts
  prisma/utils/create-issues.ts
  prisma/utils/create-podcast.ts
  prisma/utils/get-issue-cover.ts
  prisma/utils/get-podcast-cover.ts
  prisma/utils/store-seed-image.ts
Due: format, lint

style: sort skills-lock.json keys to satisfy biome
  skills-lock.json
Due: format

docs: stream manual backups over ssh console instead of slow sftp
  docs/_manual-database-backup.md
Due: format

chore: set IMAGE_STORE_PATH via Dockerfile ENV instead of fly.toml
  docker/fly/Dockerfile
  docker/local/Dockerfile
  fly.toml
Due: none

feat: finalize image-store migration, drop legacy blob columns and backfill tooling
  app/routes/administration/articles/utils/resolve-article-featured-image-seo.server.ts
  app/utils/image-store/create-image-sources.ts
  docs/_deploy-to-fly.md
  docs/_manual-database-restore-local-docker.md
  package.json
  prisma/migrations/20260702161056_finalize_image_store/migration.sql
  prisma/schema.prisma
  scripts/migrate-images-to-store.ts
  vite.migrate.config.ts
Due: format, lint, prisma-format

docs: correct IMAGE_STORE_PATH location to Dockerfile
  docs/_deploy-to-fly.md
Due: format

docs: use fly proxy + ssh for stable backups and document local VACUUM test
  docs/_manual-database-backup.md
  docs/_manual-database-restore-local-docker.md
Due: format

feat: finalize image-store migration, drop legacy blob columns and backfill tooling (#84)
  app/routes/administration/articles/utils/resolve-article-featured-image-seo.server.ts
  app/utils/image-store/create-image-sources.ts
  docs/_deploy-to-fly.md
  docs/_manual-database-backup.md
  docs/_manual-database-restore-local-docker.md
  package.json
  prisma/migrations/20260702161056_finalize_image_store/migration.sql
  prisma/schema.prisma
  scripts/migrate-images-to-store.ts
  vite.migrate.config.ts
Due: format, lint, prisma-format
