Repository vednemesicnik/cz.vednemesicnik: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, prisma-format

format:
  run: pnpm biome:format:staged {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome:lint:staged {staged_files}
  stage_fixed: true

prisma-format:
  run: pnpm prisma:format
  stage_fixed: true

refactor(permissions): key the review gate off level, drop publishRequiresReview
  app/routes/administration/archive/issue/_index/_loader.ts
  app/routes/administration/archive/issue/_index/utils/publish-issue.ts
  app/routes/administration/articles/article/_index/_loader.ts
  app/routes/administration/articles/article/_index/utils/publish-article.ts
  app/routes/administration/articles/categories/category/_index/_loader.ts
  app/routes/administration/articles/categories/category/_index/utils/publish-category.ts
  app/routes/administration/articles/tags/tag/_index/_loader.ts
  app/routes/administration/articles/tags/tag/_index/utils/publish-tag.ts
  app/routes/administration/podcasts/podcast/_index/_loader.ts
  app/routes/administration/podcasts/podcast/_index/utils/publish-podcast.ts
  app/routes/administration/podcasts/podcast/episodes/episode/_index/_loader.ts
  app/routes/administration/podcasts/podcast/episodes/episode/_index/utils/publish-episode.ts
  app/routes/administration/podcasts/podcast/episodes/episode/links/link/_index/_loader.ts
  app/routes/administration/podcasts/podcast/episodes/episode/links/link/_index/utils/publish-link.ts
  app/utils/permissions/author/review-policy.test.ts
  app/utils/permissions/author/review-policy.ts
  docs/_author-roles-and-permissions.md
  docs/_content-creation-lifecycle.md
  prisma/data/author-roles.ts
  prisma/migrations/20260711210205_author_role_publish_requires_review/migration.sql
  prisma/schema.prisma
  prisma/utils/create-author-roles.ts
Due: format, lint, prisma-format

docs(permissions): clarify inverted level numbering in review-gate wording
  app/utils/permissions/author/review-policy.ts
  docs/_author-roles-and-permissions.md
  docs/_content-creation-lifecycle.md
Due: format, lint

refactor(permissions): consolidate the review-before-publish gate via level (#192)
  app/routes/administration/archive/issue/_index/_loader.ts
  app/routes/administration/archive/issue/_index/route.tsx
  app/routes/administration/archive/issue/_index/utils/publish-issue.ts
  app/routes/administration/articles/article/_index/_loader.ts
  app/routes/administration/articles/article/_index/route.tsx
  app/routes/administration/articles/article/_index/utils/publish-article.ts
  app/routes/administration/articles/categories/category/_index/_loader.ts
  app/routes/administration/articles/categories/category/_index/route.tsx
  app/routes/administration/articles/categories/category/_index/utils/publish-category.ts
  app/routes/administration/articles/tags/tag/_index/_loader.ts
  app/routes/administration/articles/tags/tag/_index/route.tsx
  app/routes/administration/articles/tags/tag/_index/utils/publish-tag.ts
  app/routes/administration/podcasts/podcast/_index/_loader.ts
  app/routes/administration/podcasts/podcast/_index/route.tsx
  app/routes/administration/podcasts/podcast/_index/utils/publish-podcast.ts
  app/routes/administration/podcasts/podcast/episodes/episode/_index/_loader.ts
  app/routes/administration/podcasts/podcast/episodes/episode/_index/route.tsx
  app/routes/administration/podcasts/podcast/episodes/episode/_index/utils/publish-episode.ts
  app/routes/administration/podcasts/podcast/episodes/episode/links/link/_index/_loader.ts
  app/routes/administration/podcasts/podcast/episodes/episode/links/link/_index/route.tsx
  app/routes/administration/podcasts/podcast/episodes/episode/links/link/_index/utils/publish-link.ts
  app/utils/permissions/author/review-policy.test.ts
  app/utils/permissions/author/review-policy.ts
  docs/_author-roles-and-permissions.md
  docs/_content-creation-lifecycle.md
Due: format, lint

fix(users): allow editing Owner profile fields
  app/routes/administration/users/user/edit-user/utils/update-user.ts
Due: format, lint

feat(permissions): enforce single-owner policy server-side
  AGENTS.md
  app/routes/administration/users/add-user/_action.ts
  app/routes/administration/users/user/edit-user/_action.ts
  docs/_user-roles-and-permissions.md
Due: format, lint

refactor(permissions): unify permission denial as 403
  app/routes/administration/archive/add-issue/_loader.ts
  app/routes/administration/archive/issue/edit-issue/_loader.ts
  app/routes/administration/articles/add-article/_loader.ts
  app/routes/administration/articles/article/edit-article/_loader.ts
  app/routes/administration/articles/categories/add-category/_loader.ts
  app/routes/administration/articles/categories/category/edit-category/_loader.ts
  app/routes/administration/articles/tags/add-tag/_loader.ts
  app/routes/administration/articles/tags/tag/edit-tag/_loader.ts
  app/routes/administration/podcasts/add-podcast/_loader.ts
  app/routes/administration/podcasts/podcast/edit-podcast/_loader.ts
  app/routes/administration/podcasts/podcast/episodes/episode/edit-episode/_loader.ts
  app/utils/permissions/author/actions/with-author-permission.server.ts
  app/utils/permissions/author/guards/check-author-permission.server.test.ts
  app/utils/permissions/author/guards/check-author-permission.server.ts
  app/utils/permissions/author/guards/require-author-permission.server.ts
  app/utils/permissions/user/actions/with-user-permission.server.ts
  app/utils/permissions/user/guards/check-user-permission.server.test.ts
  app/utils/permissions/user/guards/check-user-permission.server.ts
Due: format, lint

fix(permissions): unify 403 denials, Owner profile editing, single-owner policy (#211)
  AGENTS.md
  app/routes/administration/archive/add-issue/_loader.ts
  app/routes/administration/archive/issue/edit-issue/_loader.ts
  app/routes/administration/articles/add-article/_loader.ts
  app/routes/administration/articles/article/edit-article/_loader.ts
  app/routes/administration/articles/categories/add-category/_loader.ts
  app/routes/administration/articles/categories/category/edit-category/_loader.ts
  app/routes/administration/articles/tags/add-tag/_loader.ts
  app/routes/administration/articles/tags/tag/edit-tag/_loader.ts
  app/routes/administration/podcasts/add-podcast/_loader.ts
  app/routes/administration/podcasts/podcast/edit-podcast/_loader.ts
  app/routes/administration/podcasts/podcast/episodes/episode/edit-episode/_loader.ts
  app/routes/administration/users/add-user/_action.ts
  app/routes/administration/users/user/edit-user/_action.ts
  app/routes/administration/users/user/edit-user/utils/update-user.ts
  app/utils/permissions/author/actions/with-author-permission.server.ts
  app/utils/permissions/author/guards/check-author-permission.server.test.ts
  app/utils/permissions/author/guards/check-author-permission.server.ts
  app/utils/permissions/author/guards/require-author-permission.server.ts
  app/utils/permissions/user/actions/with-user-permission.server.ts
  app/utils/permissions/user/guards/check-user-permission.server.test.ts
  app/utils/permissions/user/guards/check-user-permission.server.ts
  docs/_user-roles-and-permissions.md
Due: format, lint

feat(audit): add AuditLog and rename AuthEvent to AuthLog (#194)
  app/entry.server.tsx
  app/routes/administration/authors/author/edit-author/_action.ts
  app/routes/administration/sign-in/google/callback/_loader.ts
  app/routes/administration/sign-in/magic-link/verify/_action.ts
  app/routes/administration/sign-in/passkey/verify-authentication-response/_action.ts
  app/routes/administration/sign-in/password/_action.ts
  app/routes/administration/sign-in/verify-2fa/_action.ts
  app/routes/administration/sign-out/_action.ts
  app/routes/administration/users/add-user/_action.ts
  app/routes/administration/users/user/_index/utils/delete-user.ts
  app/routes/administration/users/user/edit-user/_action.ts
  app/utils/audit-log.server.ts
  app/utils/auth-log.server.ts
  app/utils/format-role-change-detail.test.ts
  app/utils/format-role-change-detail.ts
  app/utils/sign-in.server.ts
  docs/_audit-logging.md
  prisma/migrations/20260712210131_rename_auth_event_to_auth_log/migration.sql
  prisma/migrations/20260712210132_add_audit_log/migration.sql
  prisma/schema.prisma
Due: format, lint, prisma-format

refactor(audit): address Copilot review on PR #222
  app/routes/administration/authors/author/edit-author/_action.ts
  app/utils/audit-log.server.ts
Due: format, lint

refactor(audit): derive AuthLog event union from the enum too
  app/utils/auth-log.server.ts
Due: format, lint

feat(audit): add AuditLog and rename AuthEvent to AuthLog (#194) (#222)
  app/entry.server.tsx
  app/routes/administration/authors/author/edit-author/_action.ts
  app/routes/administration/sign-in/google/callback/_loader.ts
  app/routes/administration/sign-in/magic-link/verify/_action.ts
  app/routes/administration/sign-in/passkey/verify-authentication-response/_action.ts
  app/routes/administration/sign-in/password/_action.ts
  app/routes/administration/sign-in/verify-2fa/_action.ts
  app/routes/administration/sign-out/_action.ts
  app/routes/administration/users/add-user/_action.ts
  app/routes/administration/users/user/_index/utils/delete-user.ts
  app/routes/administration/users/user/edit-user/_action.ts
  app/utils/audit-log.server.ts
  app/utils/auth-log.server.ts
  app/utils/format-role-change-detail.test.ts
  app/utils/format-role-change-detail.ts
  app/utils/sign-in.server.ts
  docs/_audit-logging.md
  prisma/migrations/20260712210131_rename_auth_event_to_auth_log/migration.sql
  prisma/migrations/20260712210132_add_audit_log/migration.sql
  prisma/schema.prisma
Due: format, lint, prisma-format

feat(permissions): grant Contributor and Creator view of own archived content (#195)
  docs/_author-roles-and-permissions.md
  prisma/data/author-roles.ts
  prisma/migrations/20260715194311_view_own_archived_for_contributor_creator/migration.sql
Due: format, lint

docs(permissions): clarify Contributor view/edit states per role (Copilot review)
  docs/_author-roles-and-permissions.md
Due: format

fix(permissions): stop content list loaders over-exposing states with no view right
  app/routes/administration/archive/_index/_loader.ts
  app/routes/administration/articles/_index/_loader.ts
  app/routes/administration/articles/categories/_index/_loader.ts
  app/routes/administration/articles/tags/_index/_loader.ts
  app/routes/administration/podcasts/_index/_loader.ts
  app/routes/administration/podcasts/podcast/episodes/_index/_loader.ts
  app/utils/permissions/author/build-viewable-state-filters.test.ts
  app/utils/permissions/author/build-viewable-state-filters.ts
Due: format, lint

style: sort object keys to satisfy biome check (useSortedKeys)
  app/routes/administration/archive/_index/_loader.ts
  app/routes/administration/articles/_index/_loader.ts
  app/routes/administration/articles/categories/_index/_loader.ts
  app/routes/administration/articles/tags/_index/_loader.ts
  app/routes/administration/podcasts/_index/_loader.ts
  app/routes/administration/podcasts/podcast/episodes/_index/_loader.ts
  app/utils/permissions/author/build-viewable-state-filters.test.ts
Due: format, lint

feat(permissions): grant Contributor and Creator view of own archived content (#195) (#252)
  docs/_author-roles-and-permissions.md
  prisma/data/author-roles.ts
  prisma/migrations/20260715194311_view_own_archived_for_contributor_creator/migration.sql
Due: format, lint

fix(permissions): stop content list loaders over-exposing states with no view right (#253)
  app/routes/administration/archive/_index/_loader.ts
  app/routes/administration/articles/_index/_loader.ts
  app/routes/administration/articles/categories/_index/_loader.ts
  app/routes/administration/articles/tags/_index/_loader.ts
  app/routes/administration/podcasts/_index/_loader.ts
  app/routes/administration/podcasts/podcast/episodes/_index/_loader.ts
  app/utils/permissions/author/build-viewable-state-filters.test.ts
  app/utils/permissions/author/build-viewable-state-filters.ts
Due: format, lint

chore(lefthook): run biome check (not just format+lint) on pre-commit
  lefthook.yaml
  package.json
Due: format

chore(lefthook): align biome:check:staged with pre-push (--files-ignore-unknown)
  package.json
Due: format

chore(lefthook): run biome check (not just format+lint) on pre-commit (#254)
  lefthook.yaml
  package.json
Due: format

feat(ops): automated database backups to Tigris (quarterly + pre-migration) (#228)
  .github/workflows/backup.yml
  .github/workflows/deploy.yml
  docs/_manual-database-backup.md
  package.json
  scripts/backup-database.sh
Due: format

docs(ops): clarify paths-filter base: main semantics and fix db/ example key
  .github/workflows/deploy.yml
  docs/_manual-database-backup.md
Due: format

docs(ops): make manual Tigris backup command use object-store (no aws on machine)
  docs/_manual-database-backup.md
Due: format

fix(ops): enable errexit in backup script body (shebang -e ignored under `sh`)
  scripts/backup-database.sh
Due: none

feat(ops): automated database backups to Tigris (quarterly + pre-migration) (#228) (#257)
  .github/workflows/backup.yml
  .github/workflows/deploy.yml
  docs/_manual-database-backup.md
  package.json
  scripts/backup-database.sh
Due: format

fix(ops): use dedicated FLY_BACKUP_TOKEN for backup.yml (#228)
  .github/workflows/backup.yml
  docs/_manual-database-backup.md
Due: format

fix(ops): use dedicated FLY_BACKUP_TOKEN for backup.yml (#228) (#260)
  .github/workflows/backup.yml
  docs/_manual-database-backup.md
Due: format

fix(deps): bump transitive morgan to 1.11.0 in lockfile
  pnpm-lock.yaml
Due: none

fix(deps): bump transitive morgan to 1.11.0 in lockfile (#261)
  pnpm-lock.yaml
Due: none

ci: add backup-guard drill for deploy failure propagation (#228)
  .github/workflows/backup-guard-drill.yml
  docs/_manual-database-backup.md
Due: format

ci: add backup-guard drill for deploy failure propagation (#228) (#264)
  .github/workflows/backup-guard-drill.yml
  docs/_manual-database-backup.md
Due: format

feat(admin): list-param utils, bulk-delete intent, pagination preserves params (#215)
  app/components/pagination/_component.tsx
  app/config/form-config.ts
  app/utils/admin-list-params.test.ts
  app/utils/admin-list-params.ts
Due: format, lint

refactor(admin): robust buildSortSearch order toggle, drop unused options param (#215)
  app/utils/admin-list-params.test.ts
  app/utils/admin-list-params.ts
Due: format, lint

Admin tables: list-param utils, bulk-delete intent, Pagination preserves query params (#215)
  app/components/pagination/_component.tsx
  app/config/form-config.ts
  app/utils/admin-list-params.test.ts
  app/utils/admin-list-params.ts
Due: format, lint

AdminTable core: scroll wrapper, sticky header, pending overlay, empty row, visual polish (#216)
  app/components/admin/admin-table/_component.stories.tsx
  app/components/admin/admin-table/_component.tsx
  app/components/admin/admin-table/_styles.module.css
  app/components/admin/admin-table/components/body/_styles.module.css
  app/components/admin/admin-table/components/cell/_component.tsx
  app/components/admin/admin-table/components/cell/_styles.module.css
  app/components/admin/admin-table/components/empty-row/_component.tsx
  app/components/admin/admin-table/components/empty-row/_styles.module.css
  app/components/admin/admin-table/components/empty-row/index.ts
  app/components/admin/admin-table/components/header-cell/_component.tsx
  app/components/admin/admin-table/components/header-cell/_styles.module.css
  app/components/admin/admin-table/components/header/_styles.module.css
  app/components/admin/admin-table/components/row/_styles.module.css
  app/components/admin/admin-table/index.ts
Due: format, lint

AdminTable: move opacity transition to base so pending fade animates both ways (#216)
  app/components/admin/admin-table/_styles.module.css
Due: format

AdminTable core: scroll wrapper, sticky header, pending overlay, empty row, visual polish (#216) (#267)
  app/components/admin/admin-table/_component.stories.tsx
  app/components/admin/admin-table/_component.tsx
  app/components/admin/admin-table/_styles.module.css
  app/components/admin/admin-table/components/body/_styles.module.css
  app/components/admin/admin-table/components/cell/_component.tsx
  app/components/admin/admin-table/components/cell/_styles.module.css
  app/components/admin/admin-table/components/empty-row/_component.tsx
  app/components/admin/admin-table/components/empty-row/_styles.module.css
  app/components/admin/admin-table/components/empty-row/index.ts
  app/components/admin/admin-table/components/header-cell/_component.tsx
  app/components/admin/admin-table/components/header-cell/_styles.module.css
  app/components/admin/admin-table/components/header/_styles.module.css
  app/components/admin/admin-table/components/row/_styles.module.css
  app/components/admin/admin-table/index.ts
Due: format, lint

Admin tables: sortable header cell, toolbar, and search components (#217)
  app/components/admin/admin-table-search/_component.stories.tsx
  app/components/admin/admin-table-search/_component.tsx
  app/components/admin/admin-table-search/_styles.module.css
  app/components/admin/admin-table-search/index.ts
  app/components/admin/admin-table-toolbar/_component.stories.tsx
  app/components/admin/admin-table-toolbar/_component.tsx
  app/components/admin/admin-table-toolbar/_styles.module.css
  app/components/admin/admin-table-toolbar/index.ts
  app/components/admin/admin-table/components/sortable-header-cell/_component.stories.tsx
  app/components/admin/admin-table/components/sortable-header-cell/_component.tsx
  app/components/admin/admin-table/components/sortable-header-cell/_styles.module.css
  app/components/admin/admin-table/components/sortable-header-cell/index.ts
  app/components/admin/admin-table/index.ts
  app/components/icons/search-icon/_component.stories.tsx
  app/components/icons/search-icon/_component.tsx
  app/components/icons/search-icon/_styles.module.css
  app/components/icons/search-icon/index.ts
Due: format, lint

Address Copilot review: icon a11y, defaultOrder, Playground story, param preservation
  app/components/admin/admin-table-search/_component.tsx
  app/components/admin/admin-table/components/sortable-header-cell/_component.stories.tsx
  app/components/admin/admin-table/components/sortable-header-cell/_component.tsx
  app/components/admin/admin-table/components/sortable-header-cell/_styles.module.css
Due: format, lint

Address Copilot review: fully define AdminTableSearch clear-link styling
  app/components/admin/admin-table-search/_styles.module.css
Due: format

Path conditions:
  format: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,md,css}
  lint: any of: *.{js,ts,cjs,mjs,jsx,tsx}
  prisma-format: any of: *.prisma
