Repository vednemesicnik/cz.vednemesicnik: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, prisma-format

format:
  run: pnpm biome:format:staged {staged_files}
  stage_fixed: true

lint:
  run: pnpm biome:lint:staged {staged_files}
  stage_fixed: true

prisma-format:
  run: pnpm prisma:format
  stage_fixed: true

refactor(pdf-store): bind DB contentType to the PDF_CONTENT_TYPE constant
  app/routes/administration/archive/add-issue/_action.ts
  app/utils/pdf-store/store-pdf.server.ts
  prisma/utils/store-seed-pdf.ts
  scripts/backfill-issue-pdfs.ts
Due: format, lint

fix(archive): harden store-write/cleanup failure paths (Copilot review)
  app/routes/administration/archive/add-issue/_action.ts
  app/routes/administration/archive/issue/edit-issue/_action.ts
  scripts/backfill-issue-pdfs.ts
Due: format, lint

docs: update image Cache Rule to match the deployed Cloudflare config
  docs/_cloudflare-image-caching.md
Due: format

fix(archive): make delete-issue PDF cleanup best-effort (Copilot review)
  app/routes/administration/archive/issue/_index/utils/delete-issue.ts
Due: format, lint

fix(archive): best-effort clean the orphaned PDF object on edit update failure
  app/routes/administration/archive/issue/edit-issue/_action.ts
Due: format, lint

feat: store issue PDFs in object store instead of SQLite (#109)
  .env.example
  app/routes/administration/archive/add-issue/_action.ts
  app/routes/administration/archive/issue/_index/utils/delete-issue.ts
  app/routes/administration/archive/issue/edit-issue/_action.ts
  app/routes/website/archive/issue-pdf/_loader.ts
  app/utils/cache.server.ts
  app/utils/env.server.ts
  app/utils/image-store/image-key.ts
  app/utils/image-store/image-store.server.ts
  app/utils/object-store/create-object-store.ts
  app/utils/object-store/create-tigris-object-store.test.ts
  app/utils/object-store/create-tigris-object-store.ts
  app/utils/object-store/create-volume-object-store.ts
  app/utils/object-store/types.ts
  app/utils/pdf-store/pdf-key.ts
  app/utils/pdf-store/pdf-store.server.ts
  app/utils/pdf-store/serve-pdf.server.ts
  app/utils/pdf-store/store-pdf.server.test.ts
  app/utils/pdf-store/store-pdf.server.ts
  constants/env.ts
  docker/fly/Dockerfile
  docker/local/Dockerfile
  docs/_cloudflare-image-caching.md
  docs/_deploy-to-fly.md
  docs/_manual-database-backup.md
  docs/_manual-database-restore-local-docker.md
  docs/_manual-database-restore.md
  fly.toml
  package.json
  prisma/migrations/20260704081734_make_issue_pdf_blob_nullable/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  prisma/utils/create-issues.ts
  prisma/utils/get-issue-pdf.ts
  prisma/utils/store-seed-pdf.ts
  scripts/backfill-issue-pdfs.ts
  vite.backfill.config.ts
Due: format, lint, prisma-format

feat: drop IssuePDF.blob column and finalize PDF object-store migration
  app/routes/website/archive/issue-pdf/_loader.ts
  app/utils/pdf-store/serve-pdf.server.ts
  docs/_cloudflare-pdf-caching.md
  docs/_deploy-to-fly.md
  package.json
  prisma/migrations/20260704175518_finalize_issue_pdf_store/migration.sql
  prisma/schema.prisma
  scripts/backfill-issue-pdfs.ts
  vite.backfill.config.ts
Due: format, lint, prisma-format

docs: address Copilot review on PR #110
  docs/_cloudflare-pdf-caching.md
  docs/_manual-database-backup.md
  docs/_manual-database-restore.md
Due: format

feat: drop IssuePDF.blob column and finalize PDF object-store migration (#110)
  app/routes/website/archive/issue-pdf/_loader.ts
  app/utils/pdf-store/serve-pdf.server.ts
  docs/_cloudflare-pdf-caching.md
  docs/_deploy-to-fly.md
  docs/_manual-database-backup.md
  docs/_manual-database-restore.md
  package.json
  prisma/migrations/20260704175518_finalize_issue_pdf_store/migration.sql
  prisma/schema.prisma
  scripts/backfill-issue-pdfs.ts
  vite.backfill.config.ts
Due: format, lint, prisma-format

feat: Node 24 in Docker + native object-store CLI for fly ssh (#106)
  .nvmrc
  docker/fly/Dockerfile
  docker/local/.env.example
  docker/local/Dockerfile
  docker/local/docker-compose.yml
  docs/_deploy-to-fly.md
  package.json
  scripts/object-store-cli.ts
  scripts/object-store.sh
Due: format, lint

feat: add object-store CLI shortcut to the local Docker image too (#106)
  docker/local/Dockerfile
Due: none

chore: pin adobe/s3mock to 5.1.0 for reproducible local runs (#106)
  docker/local/docker-compose.yml
Due: none

refactor: stream object-store put instead of buffering the file (#106)
  scripts/object-store-cli.ts
Due: format, lint

feat: Node 24 in Docker + native object-store CLI for fly ssh (#106) (#111)
  .nvmrc
  docker/fly/Dockerfile
  docker/local/.env.example
  docker/local/Dockerfile
  docker/local/docker-compose.yml
  docs/_deploy-to-fly.md
  package.json
  scripts/object-store-cli.ts
  scripts/object-store.sh
Due: format, lint

feat(auth): foundation + break-glass password gating (#113)
  .env.example
  app/routes/administration/sign-in/_action.ts
  app/routes/administration/sign-in/_loader.ts
  app/routes/administration/sign-in/route.tsx
  app/utils/env.server.ts
  app/utils/sign-in.server.ts
  constants/auth.ts
  constants/env.ts
Due: format, lint

chore(auth): wire ALLOW_PASSWORD_LOGIN into fly/docker + clarify example
  .env.example
  docker/local/.env.example
  fly.toml
Due: none

refactor(auth): rename ALLOW_PASSWORD_LOGIN to ALLOW_PASSWORD_SIGN_IN
  .env.example
  app/routes/administration/sign-in/_action.ts
  app/routes/administration/sign-in/_loader.ts
  app/routes/administration/sign-in/route.tsx
  app/utils/env.server.ts
  constants/env.ts
  docker/local/.env.example
  fly.toml
Due: format, lint

refactor(auth): simplify signInUser; type throwDbError as never
  app/routes/administration/sign-in/utils/create-session.server.ts
  app/utils/sign-in.server.ts
  app/utils/throw-db-error.server.ts
Due: format, lint

refactor(auth): unwrap createSession result, 303 on gate, reword disabled UI
  app/routes/administration/sign-in/_action.ts
  app/routes/administration/sign-in/route.tsx
  app/routes/administration/sign-in/utils/create-session.server.ts
  app/utils/sign-in.server.ts
Due: format, lint

refactor(auth): move createSession to shared util; rename user lookup
  app/routes/administration/sign-in/_action.ts
  app/utils/session.server.ts
  app/utils/sign-in.server.ts
Due: format, lint

feat(auth): foundation + break-glass password gating (#113) (#118)
  .env.example
  app/routes/administration/sign-in/_action.ts
  app/routes/administration/sign-in/_loader.ts
  app/routes/administration/sign-in/route.tsx
  app/utils/env.server.ts
  app/utils/session.server.ts
  app/utils/sign-in.server.ts
  app/utils/throw-db-error.server.ts
  constants/auth.ts
  constants/env.ts
  docker/local/.env.example
  fly.toml
Due: format, lint

feat(auth): TOTP 2FA for break-glass password (#114)
  app/routes.ts
  app/routes/administration/settings/profile/_index/route.tsx
  app/routes/administration/settings/profile/two-factor/_action.ts
  app/routes/administration/settings/profile/two-factor/_handle.tsx
  app/routes/administration/settings/profile/two-factor/_loader.ts
  app/routes/administration/settings/profile/two-factor/_meta.ts
  app/routes/administration/settings/profile/two-factor/_schema.ts
  app/routes/administration/settings/profile/two-factor/route.tsx
  app/routes/administration/settings/profile/two-factor/utils/two-factor-enrollment.server.ts
  app/routes/administration/sign-in/_action.ts
  app/routes/administration/sign-in/verify-2fa/_action.ts
  app/routes/administration/sign-in/verify-2fa/_loader.ts
  app/routes/administration/sign-in/verify-2fa/_meta.ts
  app/routes/administration/sign-in/verify-2fa/_schema.ts
  app/routes/administration/sign-in/verify-2fa/_styles.module.css
  app/routes/administration/sign-in/verify-2fa/route.tsx
  app/utils/pending-two-factor.server.ts
  app/utils/totp.server.test.ts
  app/utils/totp.server.ts
  app/utils/two-factor.server.ts
  package.json
  pnpm-lock.yaml
Due: format, lint

fix(auth): address Copilot review on TOTP util
  app/utils/totp.server.test.ts
  app/utils/totp.server.ts
Due: format, lint

fix(auth): address Copilot round-2 review on verify-2fa
  app/routes/administration/sign-in/verify-2fa/_action.ts
  app/routes/administration/sign-in/verify-2fa/_styles.module.css
Due: format, lint

fix(auth): address Copilot round-3 security review
  app/routes/administration/settings/profile/two-factor/_action.ts
  app/routes/administration/settings/profile/two-factor/_loader.ts
  app/routes/administration/settings/profile/two-factor/utils/two-factor-enrollment.server.ts
  app/routes/administration/sign-in/verify-2fa/_action.ts
  app/utils/pending-two-factor.server.ts
  app/utils/totp.server.test.ts
  app/utils/totp.server.ts
Due: format, lint

fix(auth): make HOTP digit extraction consistent for any charSet
  app/utils/totp.server.test.ts
  app/utils/totp.server.ts
Due: format, lint

fix(auth): scope pending-2FA cookie to the sign-in flow
  app/utils/pending-two-factor.server.ts
Due: format, lint

fix(auth): address Copilot round-7 review on 2FA loaders
  app/routes/administration/settings/profile/two-factor/_loader.ts
  app/routes/administration/sign-in/verify-2fa/_loader.ts
Due: format, lint

fix(auth): clear pending-2FA cookie on every verify-2fa exit
  app/routes/administration/sign-in/verify-2fa/_action.ts
  app/routes/administration/sign-in/verify-2fa/_loader.ts
Due: format, lint

fix(auth): address Copilot round-9 review
  app/routes/administration/sign-in/verify-2fa/_loader.ts
  app/utils/totp.server.test.ts
  app/utils/totp.server.ts
Due: format, lint

feat(auth): TOTP 2FA for break-glass password (#114) (#119)
  app/routes.ts
  app/routes/administration/settings/profile/_index/route.tsx
  app/routes/administration/settings/profile/two-factor/_action.ts
  app/routes/administration/settings/profile/two-factor/_handle.tsx
  app/routes/administration/settings/profile/two-factor/_loader.ts
  app/routes/administration/settings/profile/two-factor/_meta.ts
  app/routes/administration/settings/profile/two-factor/_schema.ts
  app/routes/administration/settings/profile/two-factor/route.tsx
  app/routes/administration/settings/profile/two-factor/utils/two-factor-enrollment.server.ts
  app/routes/administration/sign-in/_action.ts
  app/routes/administration/sign-in/verify-2fa/_action.ts
  app/routes/administration/sign-in/verify-2fa/_loader.ts
  app/routes/administration/sign-in/verify-2fa/_meta.ts
  app/routes/administration/sign-in/verify-2fa/_schema.ts
  app/routes/administration/sign-in/verify-2fa/_styles.module.css
  app/routes/administration/sign-in/verify-2fa/route.tsx
  app/utils/pending-two-factor.server.ts
  app/utils/totp.server.test.ts
  app/utils/totp.server.ts
  app/utils/two-factor.server.ts
  package.json
  pnpm-lock.yaml
Due: format, lint

feat(auth): magic-link sign-in via email (GAS)
  .env.example
  app/routes.ts
  app/routes/administration/auth/magic-link/_action.ts
  app/routes/administration/auth/magic-link/_loader.ts
  app/routes/administration/auth/magic-link/_meta.ts
  app/routes/administration/auth/magic-link/_middleware.ts
  app/routes/administration/auth/magic-link/_schema.ts
  app/routes/administration/auth/magic-link/_styles.module.css
  app/routes/administration/auth/magic-link/route.tsx
  app/routes/administration/auth/magic-link/verify/_action.ts
  app/routes/administration/auth/magic-link/verify/_loader.ts
  app/routes/administration/auth/magic-link/verify/_meta.ts
  app/routes/administration/auth/magic-link/verify/_styles.module.css
  app/routes/administration/auth/magic-link/verify/route.tsx
  app/routes/administration/sign-in/verify-2fa/_action.ts
  app/utils/format-retry-after.test.ts
  app/utils/format-retry-after.ts
  app/utils/magic-link.server.test.ts
  app/utils/magic-link.server.ts
  app/utils/rate-limit.server.ts
  app/utils/send-magic-link-email.server.ts
  prisma/migrations/20260706100923_verification_otp_columns_optional/migration.sql
  prisma/schema.prisma
  vitest.config.ts
Due: format, lint, prisma-format

fix(auth): address Copilot review on magic link
  app/routes/administration/auth/magic-link/_styles.module.css
  app/routes/administration/auth/magic-link/verify/_styles.module.css
  app/routes/administration/sign-in/_styles.module.css
  app/utils/magic-link.server.test.ts
  app/utils/magic-link.server.ts
  app/utils/send-magic-link-email.server.ts
Due: format, lint

fix(auth): no-store on the magic-link verify loader
  app/routes/administration/auth/magic-link/verify/_loader.ts
Due: format, lint

fix(auth): consistent expiry + GAS fetch timeout
  app/utils/magic-link.server.ts
  app/utils/send-magic-link-email.server.ts
Due: format, lint

fix(auth): keep neutral response + consistent rate-limit headers
  app/routes/administration/auth/magic-link/_action.ts
  app/utils/rate-limit.server.ts
Due: format, lint

fix(auth): bound rate-limit map + no-referrer on verify page
  app/routes/administration/auth/magic-link/verify/_loader.ts
  app/utils/rate-limit.server.ts
Due: format, lint

refactor(auth): sign-in method chooser, all methods under sign-in/
  app/routes.ts
  app/routes/administration/sign-in/magic-link/_action.ts
  app/routes/administration/sign-in/magic-link/_loader.ts
  app/routes/administration/sign-in/magic-link/_meta.ts
  app/routes/administration/sign-in/magic-link/_middleware.ts
  app/routes/administration/sign-in/magic-link/_schema.ts
  app/routes/administration/sign-in/magic-link/_styles.module.css
  app/routes/administration/sign-in/magic-link/route.tsx
  app/routes/administration/sign-in/magic-link/verify/_action.ts
  app/routes/administration/sign-in/magic-link/verify/_loader.ts
  app/routes/administration/sign-in/magic-link/verify/_meta.ts
  app/routes/administration/sign-in/magic-link/verify/_styles.module.css
  app/routes/administration/sign-in/magic-link/verify/route.tsx
  app/routes/administration/sign-in/password/_action.ts
  app/routes/administration/sign-in/password/_loader.ts
  app/routes/administration/sign-in/password/_meta.ts
  app/routes/administration/sign-in/password/_schema.ts
  app/routes/administration/sign-in/password/_styles.module.css
  app/routes/administration/sign-in/password/route.tsx
  app/routes/administration/sign-in/route.tsx
  app/routes/administration/sign-in/verify-2fa/_action.ts
  app/routes/administration/sign-in/verify-2fa/_loader.ts
Due: format, lint

fix(auth): run honeypot before the rate-limit branch
  app/routes/administration/sign-in/magic-link/_action.ts
Due: format, lint

fix(auth): trusted client IP + enforce auth boundary in actions
  app/routes/administration/sign-in/magic-link/_action.ts
  app/routes/administration/sign-in/magic-link/verify/_action.ts
  app/utils/rate-limit.server.ts
Due: format, lint

Path conditions:
  format: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc,md,css}
  lint: any of: *.{js,ts,cjs,mjs,jsx,tsx}
  prisma-format: any of: *.prisma
